<div class="padding">
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header">
            <h2>Check # {{checkModel.checkNumber}}</h2>
          </div>
          <div class="box-body">


              <button type="button" (click)="onClickFlip()" class="btn default inline mr-3 mt-3">
                  <i class="fa fa-undo text-grey
                   fa-1x"></i>
                  Rotate
              </button>


              <button  type="button"  (click)="downLoadCheck()" class="btn white inline  mr-3 mt-3">
                  <i class="fa fa-download text-black fa-1x"></i>
                  Save Check
              </button>

              <button *ngIf="checkModel.documentId" type="button"
              [title]="checkModel?.document.documentName"
               (click)="downloadFile()" class="btn primary inline mr-3 mt-3">
                  <i class="fa fa-cloud-download text-white fa-1x">
                  </i>
                  Download Attatchment
              </button>


              <button style="float: right"  type="button" [ngClass]="{'danger': checkModel.checkStatus == 'pending',
               'success':checkModel.checkStatus != 'pending'}" class="btn white inline  mr-3 mt-3">
                  <i style="color: #ffffff" [ngClass]="{'fa-exclamation': checkModel.checkStatus == 'pending',
                  'fa-check':checkModel.checkStatus != 'pending'}" class="fa text-black fa-1x"></i>
                  Status: {{checkModel.checkStatus | titlecase}}
              </button>

              <div  *ngIf="checkModel.check_BackGround"  class="check-boundary">
                  <ngx-flip [flip]="flipCheck">
                      <div back class="row no-margin form-area">

                          <img class="check-image" [src]="checkModel.check_Image.checkBack" alt="">
                        </div>
                  <div front class="row no-margin form-area">

                    <img class="check-image" [src]="checkModel.check_Image.checkFront" alt="">

                  </div>

                  </ngx-flip>

              </div>


<!--               <div class="col-xs-12 col-md-6" *ngIf="checkModel.documentId">

                  <div class="box p-3">
                    <strong class="text-muted"><i class="fa fa-paperclip"></i> Attctached File</strong>
                    <br>
                    <label>{{checkModel?.document.documentName}}</label>
                    <br>

                    <button type="button" class="btn btn-fw accent" (click)="downloadFile()">

                      <i class="fa fa-cloud-download"></i>
                    </button>
                  </div>

                </div>

 -->
          </div>
        </div>
      </div>
    </div>
</div>
