<!-- Main -->
<!-- ############ Main START-->
<div class="padding">


    <div class="box">
      <div class="box-header">
        <h3>Payees</h3>
      </div>


      <div class="col-md-12 table-responsive">
          <button
          class="btn warning mb-3 btn-clr"
          data-toggle="modal"
          (click)="billerModal.open()">
          Add Payee
        </button>

        <ngx-table
          [configuration]="configuration"
          [data]="recievers"
          [columns]="columns"
        >
          <ng-template let-row let-index="index">
            <td>{{ row.recieverName }}</td>
            <td>{{ row.recieverEmail }}</td>
            <td>{{ row.telephone }}</td>
            <td>{{ row.address }}</td>
            <td class="fit">
                <button (click)="onBillerEdit(row.recieverId)"  class="btn btn-outline b-accent text-accent">
                           <i class="fa fa-pencil"></i>
                </button>

              <button (click)="onBillerDelete(row.recieverId)" class="btn btn-outline b-danger text-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </ng-template>
        </ngx-table>
      </div>
    </div>
  </div>

  <!-- .modal Add Biller -->

  <ngx-smart-modal #billerModal identifier="billerModal" customClass="">
    <div class="modal-header">
      <h5 class="modal-title">Payee</h5>
    </div>
    <div class="modal-body text-center p-lg">
      <form #companyForm="ngForm" (ngSubmit)="companyForm.form.valid && addBiller()" class="p-x-xs">
        <div class="mb-2-lg row">
          <div class="col-sm-12">
            <div class="row row-sm">
              <div class="col-sm-6">
                <div class="md-form-group float-label">
                  <input
                    [(ngModel)]="recieverModel.recieverName"
                    name="name"
                    class="md-input"
                    #name="ngModel"
                    [ngClass]="{'is-invalid': companyForm.submitted && name.invalid}"
                    required
                  />
                  <label>Payee Name</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="md-form-group float-label">
                  <input
                    [(ngModel)]="recieverModel.recieverEmail"
                    name="email"
                    class="md-input"
                    #email="ngModel"
                    [ngClass]="{'is-invalid': companyForm.submitted && email.invalid}"
                    required
                  />
                  <label>Payee Email</label>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="md-form-group float-label">
                  <input
                    [(ngModel)]="recieverModel.address"
                    name="address"
                    class="md-input"
                  />
                  <label> Address</label>
                </div>
              </div>

              <div class="col-sm-6">
                  <div class="md-form-group float-label">
                    <input
                      [(ngModel)]="recieverModel.city"
                      name="city"
                      class="md-input"
                      required
                    />
                    <label> City </label>
                  </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form-group float-label">
                      <input
                        [(ngModel)]="recieverModel.country"
                        name="country"
                        class="md-input"
                        required
                      />
                      <label> Country </label>
                    </div>
                  </div>
                <div class="col-sm-6">
                    <div class="md-form-group float-label">
                      <input
                        [(ngModel)]="recieverModel.zipCode"
                        name="zipCode"
                        class="md-input"
                        required
                      />
                      <label> Zip Code</label>
                    </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="md-form-group float-label">
                        <input
                          [(ngModel)]="recieverModel.telephone"
                          name="telephone"
                          class="md-input"
                          required
                        />
                        <label> Telephone</label>
                      </div>
                    </div>

            </div>
          </div>
        </div>

        <button
          type="button"
          class="btn dark-white p-x-md"
          (click)="billerModal.close()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn primary p-x-md"
        >
          Submit
        </button>
      </form>
    </div>
  </ngx-smart-modal>


  <!-- Update Biller -->


  <ngx-smart-modal #updateModal identifier="updateModal" customClass="">
      <div class="modal-header">
        <h5 class="modal-title">Edit Biller Details</h5>
      </div>
      <div class="modal-body text-center p-lg">
        <form #updateForm="ngForm" (ngSubmit)="updateBiller()" class="p-x-xs">
          <div class="mb-2-lg row">
            <div class="col-sm-12">
              <div class="row row-sm">
                <div class="col-sm-6">
                  <div class="md-form-group float-label">
                    <input
                      [(ngModel)]="recieverModel.recieverName"
                      name="name"
                      class="md-input"
                      required
                    />
                    <label>Name</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="md-form-group float-label">
                    <input
                      [(ngModel)]="recieverModel.recieverEmail"
                      name="email"
                      class="md-input"
                      required
                    />
                    <label> Email</label>
                  </div>
                </div>


                <div class="col-sm-12">
                    <div class="md-form-group float-label">
                      <input
                        [(ngModel)]="recieverModel.address"
                        name="address"
                        class="md-input"
                      />
                      <label> Address</label>
                    </div>
                  </div>

                <div class="col-sm-6">
                    <div class="md-form-group float-label">
                      <input
                        [(ngModel)]="recieverModel.city"
                        name="city"
                        class="md-input"
                        required
                      />
                      <label> City </label>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="md-form-group float-label">
                      <input
                        [(ngModel)]="recieverModel.country"
                        name="country"
                        class="md-input"
                        required
                      />
                      <label> Country </label>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="md-form-group float-label">
                      <input
                        [(ngModel)]="recieverModel.zipCode"
                        name="zipCode"
                        class="md-input"
                        required
                      />
                      <label> Zip Code </label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="md-form-group float-label">
                      <input
                        [(ngModel)]="recieverModel.telephone"
                        name="telephone"
                        class="md-input"
                        required
                      />
                      <label> Telephone</label>
                    </div>
                  </div>

              </div>
            </div>
          </div>

          <button
            type="button"
            class="btn dark-white p-x-md"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn primary p-x-md"

          >
            Submit
          </button>
        </form>
      </div>
    </ngx-smart-modal>

  <!-- ############ Main END-->
