

/* .dashboard-link {
  background: #285f94;
    color: #ffffff;
    border-radius: 0px;
}

.dashboard-link:hover {
  background: #4283c0;
} */

#logout {
cursor: pointer;
}

.link-active{
  background: #174f84;
    border-radius: 5px;
}
