
<div class="top-bar">
    <!-- top-bar -->
    <div class="container">
        <div class="row">
            <!-- <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6 col-6 d-none d-xl-block d-lg-block">
                <p class="mail-text">Welcome to our Borrow Loan Website Templates</p>
            </div> -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
                <div class="top-nav"> <span class="top-text"><a href="#">View Locations</a> </span> <span class="top-text"><a href="#">+1800-123-4567</a></span> <span class="top-text"><a href="#">EMI calculator</a></span> </div>
            </div>
        </div>
    </div>
</div>
<!-- /.top-bar -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-6 col-6">
                <!-- logo -->
                <div class="logo">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active"><img src="../../../assets/home-style/images/logo.png" alt="Borrow - Loan Company Website Template"></a>
                </div>
            </div>
            <!-- logo -->
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                  <div id="navigation">
                    <!-- navigation start-->
                    <ul>
                        <li class="active"><a href="/" class="animsition-link">Home</a>
                            <!-- <ul>
                                <li><a href="index.html" title="Home page 1" class="animsition-link">Home page 1</a></li>
                                <li><a href="index-1.html" title="Home page 2" class="animsition-link">Home page 2</a></li>
                                <li><a href="index-2.html" title="Home page 3" class="animsition-link">Home page 3</a></li>
                                <li><a href="index-3.html" title="Home page 4" class="animsition-link">Home page 4
                                 <span class="badge">New</span></a></li>
                                <li><a href="index-4-students-loan.html" title="students loan" class="animsition-link">Students Loan Page <span class="badge">New</span></a> </li>
                                <li><a href="index-5-business-loan.html" title="students loan" class="animsition-link">Business Loan Page<span class="badge">New</span></a></li>
                                <li><a href="index-6.html" title="" class="animsition-link">Home Tabbed<span class="badge">New</span></a></li>
                                <li><a href="index-7-borrow-bank.html" title="" class="animsition-link">Bank Home Page<span class="badge">New</span></a></li>
                            </ul> -->
                        </li>

                        <li><a href="compare-loan.html" class="animsition-link">Contact Us</a>
                        </li>

                        <li><a href="compare-loan.html" class="animsition-link">About Us</a>
                        </li>

                        <ng-template [ngIf]="!authService.loggedIn" [ngIfElse]="loggedOut">
                            <li>
                              <a href="/login" routerLinkActive="active" class="animsition-link">Log in</a>
                            </li>

                            <li>
                                <a href="/sign-up" routerLinkActive="active" class="animsition-link">Register</a>
                            </li>
                        </ng-template>


                        <ng-template #loggedOut>

                            <li *ngIf="authService.isAdmin">
                                <a href="/admin/dashboard" routerLinkActive="active"

                                 class="animsition-link dashboard-link">Admin</a>
                            </li>


                        <li *ngIf="!authService.isAdmin">
                            <a href="/dashboard" routerLinkActive="active"

                             class="animsition-link dashboard-link">Dashboard</a>
                          </li>

                              <li>
                                <a (click)="logout()" id="logout"
                                 class="animsition-link">Log Out</a>
                              </li>
                            </ng-template>

                    </ul>
                </div>
                <!-- /.navigation start-->
            </div>
            <!-- /.search start-->
        </div>
    </div>
</div>
