
<!-- /.top-bar -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-6 col-6">
                <!-- logo -->
                <div class="logo">
                    <a [routerLink]="['/']">
                      <img  style=" max-height: 4.5rem; width: 5.5rem;" src="../../../assets/logo.png"
                       alt="Logo"></a>
                </div>
            </div>
            <!-- logo -->
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                  <div id="navigation">
                    <!-- navigation start-->
                    <ul>
                        <li class="active"><a [routerLink]="['/']" class="animsition-link">Home</a>
                            <!-- <ul>
                                <li><a href="index.html" title="Home page 1" class="animsition-link">Home page 1</a></li>
                                <li><a href="index-1.html" title="Home page 2" class="animsition-link">Home page 2</a></li>
                                <li><a href="index-2.html" title="Home page 3" class="animsition-link">Home page 3</a></li>
                                <li><a href="index-3.html" title="Home page 4" class="animsition-link">Home page 4
                                 <span class="badge">New</span></a></li>
                                <li><a href="index-4-students-loan.html" title="students loan" class="animsition-link">Students Loan Page <span class="badge">New</span></a> </li>
                                <li><a href="index-5-business-loan.html" title="students loan" class="animsition-link">Business Loan Page<span class="badge">New</span></a></li>
                                <li><a href="index-6.html" title="" class="animsition-link">Home Tabbed<span class="badge">New</span></a></li>
                                <li><a href="index-7-borrow-bank.html" title="" class="animsition-link">Bank Home Page<span class="badge">New</span></a></li>
                            </ul> -->
                        </li>

                        <li><a [routerLink]="['/contact']" routerLinkActive="active" class="animsition-link">Contact</a>
                        </li>

                        <li><a [routerLink]="['/about']" routerLinkActive="active" class="animsition-link">About</a>
                        </li>

                        <ng-template [ngIf]="!authService.loggedIn" [ngIfElse]="loggedOut">
                            <li>
                              <a href="/login" routerLinkActive="active" class="animsition-link">Log in</a>
                            </li>

                            <li>
                                <a href="/sign-up" routerLinkActive="active" class="animsition-link">Register</a>
                            </li>
                        </ng-template>


                        <ng-template #loggedOut>

                            <li *ngIf="authService.isAdmin">
                                <a [routerLink]="['/admin/dashboard']" routerLinkActive="active"
                                style="color:#ffff"
                                 class="animsition-link dashboard-link">Dashboard</a>
                            </li>


                        <li *ngIf="!authService.isAdmin">
                            <a [routerLink]="['/dashboard']" routerLinkActive="active"
                            style="color:#ffff"
                             class="animsition-link dashboard-link">Dashboard</a>
                          </li>

                              <li>
                                <a (click)="logout()" id="logout"
                                 class="animsition-link">Log Out</a>
                              </li>
                            </ng-template>

                    </ul>
                </div>
                <!-- /.navigation start-->
            </div>
            <!-- /.search start-->
        </div>
    </div>
</div>
