<div class="slider" id="slider">


  <ngb-carousel>
    <ng-template class="slider-container" *ngFor="let img of sliderImages" ngbSlide>

      <div class="slider-img"
        [ngStyle]="{'background': 'url(' + img.sliderImage + ') no-repeat', 'background-size': '100% 100%' }">

      </div>
      <!-- <img class="slider-img" [src]="img.sliderImage" alt=""> -->
    </ng-template>

  </ngb-carousel>

</div>
<!-- <div class="rate-table">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of homeIcon" class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  ">
                       <img [src]="item.icon" alt="" class="icon-svg-1x">
                       <small class="rate-title pl-3">{{item.text}}</small>
                      </div>
                    
                </div>
            </div>
         
        </div>
    </div>
</div> -->


<div *ngIf="homeIcon" class="section-space80">
  <div class="container">
      <div class="" id="service">
    <div class="row">
          <div *ngFor="let item of homeIcon" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
            <div class="service-block-v3">
              <div class="icon mb30">
                <a href="#"> <img [src]="item.icon" alt="{{item.text}}" class="h-50p"></a>
              </div>
              <div class="service-content">
                <h4 class="service-title"><a href="#" class="title">{{item.text}}</a></h4>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white section-space80">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb100 text-center section-title">
          <!-- section title start-->
          <h1>Fast &amp; Easy Application Process.</h1>
          <p>Suspendisse aliquet varius nunc atcibus lacus sit amet coed portaeri sque mami luctus viveed congue
            lobortis faucibus.</p>
        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of appProcess;let i = index" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div style="min-height: 250px;" class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
          <div class="circle"><span class="number">{{i+1}}</span></div>
          <h3 class="number-title">{{item.title}}</h3>
          <p>{{item.text}}</p>
        </div>
      </div>
 
    </div>
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center"> <a
          href="/dashboard" class="btn btn-default">Make Payment</a> </div>
    </div>
  </div>
</div>
<div class="section-space80">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb60 text-center section-title">
          <!-- section title start-->
          <h1>Why Use Pay2Mate</h1>
          <p>Easy to use, technology enabled, secured, state of the art financial services
            under one roof.</p>
        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="bg-white bg-boxshadow">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
              <div class="bg-white pinside60 number-block outline h-100">
                <div class="mb20"><i class="icon-command  icon-4x icon-primary"></i></div>
                <h3>Dedicated Specialists</h3>
                <p>Dedicated team of Wealth

                  Management specialists who designed

                  the finest solutions for you.</p>
                <a [routerLink]="['/contact']" class="btn btn-outline mt20">Meet the team</a>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
              <div class="bg-white pinside60 number-block outline h-100">
                <div class="mb20"><i class="icon-cup  icon-4x icon-primary"></i></div>
                <h3>Customer Success Stories</h3>
                <p>The Proof is in the Pudding

                  and The Cutomer Is Always

                  Right. Listen to our customers

                  here.</p>
                <a [routerLink]="['/about']" class="btn btn-outline mt20">View Client Review</a>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
              <div class="bg-white pinside60 number-block outline h-100">
                <div class="mb20"><i class="icon-calculator  icon-4x icon-primary"></i></div>
                <h3>No or neglible processing fee!</h3>
                <p> Our servivces are mostly free and where

                  charged, they are priced extremely

                  competitive.</p>
                <a [routerLink]="['/sign-up']" class="btn btn-outline mt20">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-space80 bg-white">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb60 text-center section-title">
          <!-- section title-->
          <h1>We are Here to Help You</h1>
          <p>Our mission is to deliver reliable, latest news and opinions.</p>
        </div>
        <!-- /.section title-->
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of contacts" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div style="min-height: 350px;" class="bg-white bg-boxshadow pinside40 outline text-center mb30">
          <div class="mb40"><i class="{{item.icon}} fa-4x text-primary"></i></div>
          <h2 class="capital-title">{{item.title}}</h2>
          <!-- <h1 *ngIf="item.phone" class="text-big">800-123-456 / 789 </h1>
                    <p *ngIf="item.email"></p> -->
          <p>{{item.text}}</p>
          <a [href]="item.link" class="btn-link">{{item.linkText}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
