
<div class="slider" id="slider">


  <ngb-carousel>
    <ng-template class="slider-container" *ngFor="let img of sliderImages" ngbSlide>

      <div class="slider-img"
        [ngStyle]="{'background': 'url(' + img.sliderImage + ') no-repeat', 'background-size': '100% 100%' }">

      </div>

    </ng-template>

  </ngb-carousel>

</div>


<!-- <div *ngIf="homeIcon" class="section-space80">
  <div class="container">
      <div class="" id="service">
    <div class="row">
          <div *ngFor="let item of homeIcon" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
            <div class="service-block-v3">
              <div class="icon mb30">
                <a href="#"> <img [src]="item.icon" alt="{{item.text}}" class="h-50p"></a>
              </div>
              <div class="service-content">
                <h4 class="service-title"><a href="#" class="title">{{item.text}}</a></h4>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="bg-white section-space80 process-section">
  <div class="container">
    <div class="">
      <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="section-title text-center mb60">
              <h1>Fast &amp; Easy Payment Process.</h1>
              <p>Create &amp; Send online check in just minutes</p>
          </div>
      </div>
      <div class="row">
      <div *ngFor="let item of appProcess;let i = index" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="bg-white number-block mb30 ">
          <div class="process-img"><img [src]="item.image" alt="" class="process-image">
              <div class="circle"><span class="number">{{i+1}}</span></div>
          </div>
          <div class="pinside20">
          <h3 class="service-title">{{item.title}}</h3>
          <p>{{item.text}}</p>
          </div>
      </div>
      </div>


      </div>
  </div>

    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center"> <a
          href="/dashboard" class="btn btn-default">Get Started</a> </div>
    </div>
  </div>
</div>



  <div class="cta">
    <div class="container">
      <div class="row">
        <div class=" offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12 col-12 ">
          <div class="mb60 text-center section-title text-white">
            <!-- section title start-->
            <h1 class="text-white">Our Services</h1>
            <p>We understand your needs. </p>
          </div>
          <!-- /.section title start-->
        </div>
      </div>
      <div class="row">
        <div *ngFor="let item of homeIcon" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
          <div class="service-block-v3">
            <div class="icon mb10">
              <a href="#"> <img [src]="item.icon" alt="{{item.title}}" class="h-100p"></a>
            </div>
            <div class="pinside20">
              <p class="title-white">{{item.text}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<div class="section-space80">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb60 text-center section-title">
          <!-- section title start-->
          <h1>Why Use Pay2Mate</h1>
          <p>Easy to use, technology enabled, secured, state of the art financial services
            under one roof.</p>
        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="bg-white bg-boxshadow">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
              <div class="bg-white pinside60 number-block outline h-100">
                <div class="mb20"><i class="icon-command  icon-4x icon-orange"></i></div>
                <h3>Dedicated Specialists</h3>
                <p>Dedicated team of Wealth

                  Management specialists who designed

                  the finest solutions for you.</p>
                <a [routerLink]="['/contact']" class="btn btn-outline mt20">Meet the team</a>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
              <div class="bg-white pinside60 number-block outline h-100">
                <div class="mb20"><i class="icon-cup  icon-4x icon-orange"></i></div>
                <h3>Customer Success Stories</h3>
                <p>The Proof is in the Pudding

                  and The Cutomer Is Always

                  Right. Listen to our customers

                  here.</p>
                <a [routerLink]="['/about']" class="btn btn-outline mt20">View Client Review</a>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
              <div class="bg-white pinside60 number-block outline h-100">
                <div class="mb20"><i class="icon-calculator  icon-4x icon-orange"></i></div>
                <h3>No or neglible processing fee!</h3>
                <p> Our servivces are mostly free and where

                  charged, they are priced extremely

                  competitive.</p>
                <a [routerLink]="['/sign-up']" class="btn btn-outline mt20">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-space100 cta-section-second">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-center">
                  <!-- section title start-->
                  <h1 class="text-white">Wealth Management Solutions For Your Needs.</h1>
                  <p class="text-white">Our solutions provide exponential value to price.</p>
                  <a href="/dashboard" class="btn btn-default">Make Payement</a>
              </div>
              <!-- /.section title start-->
          </div>
      </div>
  </div>
</div>

<div class="section-space80 bg-white">
  <div class="container">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb60 text-center section-title">
          <!-- section title-->
          <h1>We are Here to Help You</h1>
          <p>Our mission is to deliver reliable, and simple answers to problems.</p>
        </div>
        <!-- /.section title-->
      </div>
    </div>
    <div class="row">
      <div *ngFor="let item of contacts" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div style="min-height: 350px;" class="bg-white bg-boxshadow pinside40 outline text-center mb30">
          <div class="mb40"><i class="fa {{item.icon}} fa-4x text-orange"></i></div>
          <h2 class="capital-title">{{item.title}}</h2>
          <!-- <h1 *ngIf="item.phone" class="text-big">800-123-456 / 789 </h1>
                    <p *ngIf="item.email"></p> -->
          <p>{{item.text}}</p>
          <a [href]="item.link" class="btn-link">{{item.linkText}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
