<div class="slider" id="slider">


        <ngb-carousel>
            <ng-template class="slider-container" *ngFor="let img of sliderImages" ngbSlide>
              <img class="slider-img" [src]="img.sliderImage" alt="">
            </ng-template>
            <!-- <ng-template ngbSlide>
              <img src="../../../assets/home-style/images/slider-4.jpg" alt="Random third slide">
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template> -->
          </ngb-carousel>

</div>
<div class="rate-table">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="../../../assets/home-style/images/mortgage.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">3.74%</h1>
                        <small class="rate-title">Home Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="../../../assets/home-style/images/loan.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">8.96%</h1>
                        <small class="rate-title">Personal Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="../../../assets/home-style/images/car.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">6.70%</h1>
                        <small class="rate-title">Car Loans</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <img src="../../../assets/home-style/images/credit-card.svg" alt="Borrow - Loan Company Website Template" class="icon-svg-1x"></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">9.00%</h1>
                        <small class="rate-title">Credit card</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white section-space80">
    <div class="container">
        <div class="row">
             <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb100 text-center section-title">
                    <!-- section title start-->
                    <h1>Fast &amp; Easy Application Process.</h1>
                    <p>Suspendisse aliquet varius nunc atcibus lacus sit amet coed portaeri sque mami luctus viveed congue lobortis faucibus.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">1</span></div>
                    <h3 class="number-title">Choose Loan Amount</h3>
                    <p>Suspendisse accumsan imperdue ligula dignissim sit amet vestibulum in mollis etfelis.</p>
                </div>
            </div>
           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">2</span></div>
                    <h3 class="number-title">Approved Your Loan</h3>
                    <p>Fusce tempor sstibulum varius sem nec mi luctus viverra edcongue lobortis faucibus.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">3</span></div>
                    <h3 class="number-title">Get Your Cash</h3>
                    <p>Get your money in minutes simtibulm varius semnec mluctus gue lobortis faucibus.</p>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center"> <a [routerLink]="['/dashboard']"  class="btn btn-default">Make Payment</a> </div>
        </div>
    </div>
</div>
<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Why User Pay2Mate</h1>
                    <p>Easy to use, technology enabled, secured, state of the art financial services
                        under one roof.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline h-100">
                                <div class="mb20"><i class="icon-command  icon-4x icon-primary"></i></div>
                                <h3>Dedicated Specialists</h3>
                                <p>Dedicated team of Wealth

                                    Management specialists who designed

                                    the finest solutions for you.</p>
                                <a href="#" class="btn btn-outline mt20">Meet the team</a> </div>
                        </div>
                         <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline h-100">
                                <div class="mb20"><i class="icon-cup  icon-4x icon-primary"></i></div>
                                <h3>Customer Success Stories</h3>
                                <p>The Proof is in the Pudding

                                    and The Cutomer Is Always

                                    Right. Listen to our customers

                                    here.</p>
                                <a href="#" class="btn btn-outline mt20">View Client Review</a> </div>
                        </div>
                         <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline h-100">
                                <div class="mb20"><i class="icon-calculator  icon-4x icon-primary"></i></div>
                                <h3>No or neglible processing fee!</h3>
                                <p> Our servivces are mostly free and where

                                    charged, they are priced extremely

                                    competitive.</p>
                                <a href="#" class="btn btn-outline mt20">Why choose us</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="bg-default section-space80">
    <div class="container">
        <div class="row">
             <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <h1 class="title-white">Some of our Awesome Testimonials</h1>
                    <p> You won’t be the only one lorem ipsu mauris diam mattises.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 clearfix ">
                <div class="testimonial-block mb30">
                    <div class="bg-white pinside30 mb20">
                        <p class="testimonial-text"> “I loved the customer service you guys provided me. That was very nice and patient with questions I had. I would really like definitely come back here”</p>
                    </div>
                    <div class="testimonial-autor-box">
                        <div class="testimonial-img pull-left"> <img src="../../../assets/home-style/images/testimonial-img.jpg" alt="Borrow - Loan Company Website Template"> </div>
                        <div class="testimonial-autor pull-left">
                            <h4 class="testimonial-name">Donny J. Griffin</h4>
                            <span class="testimonial-meta">Personal Loan</span> </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 clearfix ">
                <div class="testimonial-block mb30">
                    <div class="bg-white pinside30 mb20">
                        <p class="testimonial-text"> “I had a good experience with Insight Loan Services. I am thankful to insight for the help you guys gave me. My loan was easy and fast. thank you Insigtht”</p>
                    </div>
                    <div class="testimonial-autor-box">
                        <div class="testimonial-img pull-left"> <img src="../../../assets/home-style/images/testimonial-img-1.jpg" alt="Borrow - Loan Company Website Template"> </div>
                        <div class="testimonial-autor pull-left">
                            <h4 class="testimonial-name">Mary O. Randle</h4>
                            <span class="testimonial-meta">Education Loan</span> </div>
                    </div>
                </div>
            </div>
           <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 clearfix ">
                <div class="testimonial-block mb30">
                    <div class="bg-white pinside30 mb20">
                        <p class="testimonial-text"> “We came out of their offices very happy with their service. They treated us very kind. Definite will come back. The waiting time was very appropriate.”</p>
                    </div>
                    <div class="testimonial-autor-box">
                        <div class="testimonial-img pull-left"> <img src="../../../assets/home-style/images/testimonial-img-2.jpg" alt="Borrow - Loan Company Website Template"> </div>
                        <div class="testimonial-autor pull-left">
                            <h4 class="testimonial-name">Lindo E. Olson</h4>
                            <span class="testimonial-meta">Car Loan</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="section-space40 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="../../../assets/home-style/images/logo-1.jpg" alt="Borrow - Loan Company Website Template"> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="../../../assets/home-style/images/logo-2.jpg" alt="Borrow - Loan Company Website Template"> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="../../../assets/home-style/images/logo-3.jpg" alt="Borrow - Loan Company Website Template"> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="../../../assets/home-style/images/logo-4.jpg" alt="Borrow - Loan Company Website Template"> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="../../../assets/home-style/images/logo-5.jpg" alt="Borrow - Loan Company Website Template"> </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-6"> <img src="../../../assets/home-style/images/logo-1.jpg" alt="Borrow - Loan Company Website Template"> </div>
        </div>
    </div>
</div>


<!-- <div class="section-space80">
    <div class="container">
        <div class="row">
             <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <h1>Latest News from Loan Company</h1>
                    <p> Our mission is to deliver reliable, latest news and opinions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="blog-single.html" class="imghover"><img src="../../../assets/home-style/images/blog-img.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"></a>
                    </div>
                    <div class="bg-white pinside40 outline">
                        <h2><a href="blog-single.html" class="title">Couples Buying New Home Loan</a></h2>
                        <p class="meta"><span class="meta-date">Aug 25, 2017</span><span class="meta-author">By<a href="#"> Admin</a></span></p>
                        <p>Fusce sed erat libasellus id orci quis ligula pret do lectus velit, a malesuada urna sodales eu.</p>
                        <a href="blog-single.html" class="btn-link">Read More</a> </div>
                </div>
            </div>
             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="blog-single.html" class="imghover"><img src="../../../assets/home-style/images/blog-img-1.jpg" alt="Borrow - Loan Company Website Template" class="img-fluid"></a>
                    </div>
                    <div class="bg-white pinside40 outline">
                        <h2><a href="blog-single.html" class="title">Business Man Thinking for Loan</a></h2>
                        <p class="meta"><span class="meta-date">Aug 24, 2017</span><span class="meta-author">By<a href="#"> Admin</a></span></p>
                        <p>Nulla vehicula nibh vel malesuada dapibus ringilla nunc mi sit amet fbendum sapierttitor nibh. </p>
                        <a href="blog-single.html" class="btn-link">Read More</a> </div>
                </div>
            </div>
             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="post-block mb30">
                    <div class="post-img">
                        <a href="blog-single.html" class="imghover"><img src="../../../assets/home-style/images/blog-img-2.jpg" alt="Borrow - Loan Company Website Templates" class="img-fluid"></a>
                    </div>
                    <div class="bg-white pinside40 outline">
                        <h2><a href="blog-single.html" class="title">Are you students looking for loan ?</a></h2>
                        <p class="meta"><span class="meta-date">Aug 23, 2017</span><span class="meta-author">By<a href="#"> Admin</a></span></p>
                        <p>Malesuada urna sodales euusce sed erat libasellus id orci quis ligula pretium co ctus velit.</p>
                        <a href="blog-single.html" class="btn-link">Read More</a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->

<div class="section-space80 bg-white">
    <div class="container">
        <div class="row">
           <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title-->
                    <h1>We are Here to Help You</h1>
                    <p>Our mission is to deliver reliable, latest news and opinions.</p>
                </div>
                <!-- /.section title-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"><i class="icon-calendar-3 icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Apply For Loan</h2>
                    <p>Looking to buy a car or home loan? then apply for loan now.</p>
                    <a href="#" class="btn-link">Get Appointment</a> </div>
            </div>
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"><i class="icon-phone-call icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Call us at </h2>
                    <h1 class="text-big">800-123-456 / 789 </h1>
                    <p>lnfo@loanadvisor.com</p>
                    <a href="#" class="btn-link">Contact us</a> </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow pinside40 outline text-center mb30">
                    <div class="mb40"> <i class="icon-users icon-2x icon-default"></i></div>
                    <h2 class="capital-title">Talk to Advisor</h2>
                    <p>Need to loan advise? Talk to our Loan advisors.</p>
                    <a href="#" class="btn-link">Meet The Advisor</a> </div>
            </div>
        </div>
    </div>
</div>
