<div class="padding">
  <div class="box">
    <div class="box-header">
      <h3>Bank Accounts</h3>
    </div>

    <div class="col-md-12 table-responsive">
      <ngx-table
        [configuration]="configuration"
        [data]="accounts"
        [columns]="columns"
      >
        <ng-template let-row let-index="index">
            <td>{{ row.accountNumber }}</td>
          <td>{{ row.accountName }}</td>
          <td>{{ row.bank.bankName }}</td>
          <td>{{ row.company.companyName }}</td>
          <td class="fit">
              <button [routerLink]="['/edit/bank-account', row.bankAccountId]" class="btn btn-outline b-accent text-accent">
                <i class="fa fa-pencil"></i> 
              </button>
            <button (click)="onDeleteAccount(row.bankAccountId)" class="btn btn-outline b-danger text-danger">
              <i class="fa fa-trash"></i>
            </button>
            
          </td>
        </ng-template>
      </ngx-table>
    </div>
  </div>
</div>
