<!-- ############ Main START-->
<div class="">
  <div class="p-3 light lt box-shadow-0 d-flex">
    <div class="flex">
      <h1 class="text-md mb-1 _400">Welcome back, {{authService.decodedtoken.uniqueName}}</h1>
    </div>
    <div>
      <small class="text-muted d-block">Status</small>
      <div class="mb-1 peity" data-plugin="peity" data-title="Status" data-option="
'bar',
{
height: 20,
width: 60,
fill: [app.color.primary]
}">56,32,21,16,25,23,42,24,6,10,44,27,34,52,54,59,61,68,78
      </div>
    </div>
  </div>

  <div class="p-4 p-md-5">
    <div class="row statistic">
      <div class="col-sm-6 col-md-2">
        <div class="box list-item">
          <span class="avatar w-40 text-center rounded primary">
            <span class="fa fa-level-up"></span>
          </span>
          <div class="list-body">
            <h4 class="m-0 text-md">
              <a [routerLink]="['/dashboard']"> {{sentChecks.length}} <span class="text-sm"></span></a>
            </h4>
            <small class="text-muted">Checks Sent</small>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="box list-item">
          <span class="avatar w-40 text-center rounded primary">
            <span class="fa fa-dollar"></span>
          </span>
          <div class="list-body">
            <h4 class="m-0 text-md">
              <a [routerLink]="['/dashboard']"><span class="text-sm">{{amountSent}} $ </span></a>
            </h4>
            <small class="text-muted">Amount Sent</small>

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="box list-item">
          <span class="avatar w-40 text-center rounded warning">
            <span class="fa fa-level-down"></span>
          </span>
          <div class="list-body">
            <h4 class="m-0 text-md">
              <a [routerLink]="['/dashboard']">{{recievedChecks.length}} <span class="text-sm"></span></a>
            </h4>
            <small class="text-muted">Checks Recieved</small>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="box list-item">
          <span class="avatar w-40 text-center rounded warning">
            <span class="fa fa-dollar"></span>
          </span>
          <div class="list-body">
            <h4 class="m-0 text-md">
              <a [routerLink]="['/dashboard']"><span class="text-sm">{{amountRecieved}} $ </span></a>
            </h4>
            <small class="text-muted">Amount Recieved</small>

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-2">
        <div class="box list-item">
          <span class="avatar w-40 text-center rounded warn">
            <span class="fa fa-users"></span>
          </span>
          <div class="list-body">
            <h4 class="m-0 text-md">
              <a [routerLink]="['/dashboard']">{{recievers.length}}<span class="text-sm"></span></a>
            </h4>
            <small class="text-muted">Billers</small>

          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-2">
        <div class="box list-item">
          <span class="avatar w-40 text-center rounded cyan">
            <span class="fa fa-institution"></span>
          </span>
          <div class="list-body">
            <h4 class="m-0 text-md">
              <a [routerLink]="['/dashboard']">{{bankAccounts.length}} <span class="text-sm"></span></a>
            </h4>
            <small class="text-muted">Bank Accounts</small>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-active-border b-theme px-4 px-md-5">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          Dashboard
        </a>
      </li>

    </ul>
  </div>
</div>
<div class="row justify-content-md-center no-gutters white">
  <div class="col-sm-10 col-xl-10">
    <div class="padding">
      <div class="row justify-content-center mb-3 steps-container">

        <div class="col-md-4 col-xs-6 steps-link">
          <a [routerLink]="['/add-bank']" class="">

            <div class="b-a b-2x r p-3 mb-2 step-content">
              <div class="py-3 text-center text-lg text-primary steps">
                <span>1</span>
                <img class="w-100" src="../../../assets/steps/bank.png">
              </div>
              <div class="d-flex">
                <span class="text">Choose Bank</span>
              </div>


            </div>
          </a>

        </div>


        <div class="col-md-4 col-xs-6 steps-link">
          <a [routerLink]="['/add/bank-account']" class="">

            <div class="b-a b-2x r p-3 mb-2 step-content">
              <div class="py-3 text-center text-lg text-primary steps">
                <span>2</span>
                <img class="w-100"
                  src="../../../assets/steps/bank-account.png">
              </div>
              <div class="d-flex">
                <span class="text">Add Bank Account</span>
              </div>
            </div>
          </a>

        </div>


        <div class="col-md-4 col-xs-6 steps-link">
          <a [routerLink]="['/make-payment/check']" class="">

            <div class="b-a b-2x r p-3 mb-2 step-content">
              <div class="py-3 text-center text-lg text-primary steps">
                <span>3</span>
                <img class="w-100" src="../../../assets/steps/checked.png">
              </div>
              <div class="d-flex">
                <span class="text">Make Payment </span>
              </div>
            </div>
          </a>

        </div>

      </div>
      <div class="row">
        <div class="col-xl-4">
          <div class="box">
            <div class="box-header history-header">
              <h3> Sent Payments</h3>
            </div>


            <div class="list inset scroll">
              <a *ngFor="let check of sentChecks" [routerLink]="['/check-history/sent/',check.checkId]">

                <div class="list-item" >
                  <span class="avatar">
                    <img style="border-radius: 0px;border: 1px solid black;" [src]="check.check_Image.checkFront">
                  </span>
                </div>
              </a>

            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="box">
            <div class="box-header history-header">
              <h3>Recieved Payments</h3>
            </div>
            <div class="list inset scroll">
              <a *ngFor="let check of recievedChecks" [routerLink]="['/check-history/receieved',check.checkId]">

                <div class="list-item mb-2">
                  <span class="avatar">
                    <img style="border-radius: 0px;border: 1px solid black;" [src]="check.check_Image.checkFront">
                  </span>
                  <!-- <span style="line-height: 5em;" class="item-except text-sm">
                    {{check.recieveDate | date:'mediumDate'}}
                  </span> -->
                  <!-- <div class="list-body">
                    <a *ngIf="check.checkMemo !='undefined'" [routerLink]="['/check-history/recieved/',check.checkId]"
                      class="item-title _500">
                      {{check.checkMemo}}
                    </a>
                    <div class="item-except text-sm text-muted h-1x">
                      {{check.amount}} $
                    </div>
                    <div class="item-tag tag hide">
                    </div>
                  </div> -->

                </div>
              </a>

            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="box">
            <div class="box-header history-header">
              <h3> Summary</h3>
            </div>


            <div class="list inset scroll">
              <a *ngFor="let check of sentChecks" [routerLink]="['/check-history/sent/',check.checkId]">

                <div class="list-item">
                  <span class="avatar">
                    <img style="border-radius: 0px;border: 1px solid black;" [src]="check.check_Image.checkFront">
                  </span>
                  <!-- <div class="list-body">

                    <div class="item-tag tag hide">
                    </div>
                  </div> -->
                  <!-- <div>
                    <span class="item-date text-xs text-muted">
                      {{check.issuedDate | date:'short'}}
                    </span>
                  </div> -->
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- ############ Main END-->
