
.statistic  .box{
    color: #fff;
    background-color: #285f94;
}

.list-item {

    height: 100px;
    display: inherit;
    align-items: stretch;
    padding: 0.75rem 0.5rem;
    position: relative;
    text-align: center;

}

.steps-container {
  background: #f4f4f482;;
  /* padding: 20px; */
}

.steps {
  width: 35%;
    margin: auto;
}



.text {
  font-weight: 700;
    margin: auto;
}

.history-header{
  background: #285f94;
    color: white;
}

.step-content{
  margin-top: 7px;
}


.steps-link:hover {
    background: #ffff;
}

.inset{
  overflow-y: scroll;
  height: 300px;
}



/* Scroll bar custom */

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
	width: 6px;
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #285f94c7;
}

.no-record {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center
}

