<div class="d-flex flex-column flex">
    <div class="navbar light bg pos-rlt box-shadow">
        <div class="mx-auto">
            <!-- brand -->
            <a href="index.html" class="navbar-brand">

                <img src="../../../assets/logo.png" alt=".">

            </a>
            <!-- / brand -->
        </div>
    </div>
    <div id="content-body">
      <div class="py-5 text-center w-100">
          <div class="form-content mx-auto w-xxl w-auto-xs">
              <div class="px-3 form-area">
                    <div>
                        <h5>Forgot your password?</h5>
                        <p class="text-muted my-3">
                            Enter your email below and we will send you instructions on how to change your password.
                        </p>
                    </div>
                    <form #reset="ngForm" (ngSubmit)="reset.form.valid && resetPass()">
                        <div class="form-group">
                            <input [(ngModel)]="model.email" #email="ngModel" name="email" type="email"
                            [ngClass]="{'is-invalid': reset.submitted && email.invalid}" placeholder="Email" class="form-control" required>
                        </div>
                        <button type="submit" class="btn primary btn-block p-x-md">Send</button>
                    </form>
                    <div class="py-4">
                        Return to
                        <a routerLink="/login" class="text-primary _600">Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
