



 <link rel="stylesheet" href="/assets/libs/font-awesome/css/font-awesome.min.css" type="text/css" />

 <link rel="stylesheet" href="/assets/libs/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
 <link rel="stylesheet" href="/assets/css/app.css" type="text/css" />

<router-outlet></router-outlet>

<!-- <script src="../../assets/js/pace.min.js"></script>
        <script src="../../assets/js/lazyload.config.js"></script>
        <script src="../../assets/js/lazyload.js"></script>
        <script src="../../assets/js/plugin.js"></script>
        <script src="../../assets/js/nav.js"></script>
        <script src="../../assets/js/scrollto.js"></script>
        <script src="../../assets/js/toggleclass.js"></script>
        <script src="../../assets/js/theme.js"></script>
        <script src="../../assets/js/ajax.js"></script>
        <script src="../../assets/js/app.js"></script> -->
