


<router-outlet></router-outlet>
<!-- 

<script src="../../assets/js/pace.min.js"></script>
        <script src="../../assets/js/pjax.min.js"></script>
        <script src="../../assets/js/lazyload.config.js"></script>
        <script src="../../assets/js/lazyload.js"></script>
        <script src="../../assets/js/plugin.js"></script>
        <script src="../../assets/js/nav.js"></script>
        <script src="../../assets/js/scrollto.js"></script>
        <script src="../../assets/js/toggleclass.js"></script>
        <script src="../../assets/js/theme.js"></script>
        <script src="../../assets/js/ajax.js"></script>
        <script src="../../assets/js/app.js"></script> -->