        <!-- APP WRAPPER -->
        <div class="app">
                <!-- START APP CONTAINER -->
                <div class="app-container">
    
                    <!-- START SIDEBAR -->
                   <app-sidebar></app-sidebar>
                    <!-- END SIDEBAR -->
                    
                    <!-- START APP CONTENT -->
                    <div class="app-content app-sidebar-left">
                     
                        <!-- START APP HEADER -->
                        
                        <app-header></app-header>
                        
                        <!-- END APP HEADER  -->

                        <router-outlet></router-outlet>


                    </div><!-- END APP CONTENT -->
                </div><!-- END APP CONTAINER -->
                
                <!-- START APP FOOTER -->
                
                <app-footer></app-footer>
    
                <!-- END APP FOOTER -->
               
                <!-- APP OVERLAY -->
                <div class="app-overlay"></div><!-- END APP OVERLAY -->
            </div><!-- END APP WRAPPER -->