.btn-clr{
  color: white;
}

:host  /deep/ .ngx-table__header{
  background-color: #3f86ca !important;
  color: #ffffff;
}
:host  /deep/ .ngx-table{
  font-family: inherit;
}




:host /deep/ .ngx-pagination-steps{

    margin-top: 10px;
}





:host /deep/ .ngx-pagination-range {
  display: none;
}


.btn{
    margin-right: 5px;
}


/* Add business Form */

.float-label .md-input:not([value=""]) ~ label, .float-label .md-input:valid ~ label {
  top: 0;
  font-size: 1em;
  font-weight: bold;
}

:host /deep/ .business-modal {
  max-width: 1024px;
 }

