<div class="footer section-space100">
  <!-- footer -->
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="footer-logo">
          <!-- Footer Logo -->
          <img style=" max-height: 4.5rem; width: 5.5rem;" src="../../../../assets/logo.png" alt="pay2mate logo"> </div>
        <!-- /.Footer Logo -->
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
            <h3 class="newsletter-title">Signup for our Newsletter</h3>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
            <div class="newsletter-form">
              <!-- Newsletter Form -->
              <form #subscriberForm="ngForm" (ngSubmit)="addSubscribe() && subscriberForm.form.valid">
                <div class="input-group">
                  <input type="email" class="form-control" [(ngModel)]="subscriberModel.email" id="newsletter" name="newsletter"
                    placeholder="Enter Your Email Address" required>
                  <span class="input-group-btn">
                    <button [disabled]="!subscriberForm.form.valid" class="btn btn-default" type="submit">Go!</button>
                  </span> </div>
                <!-- /input-group -->
              </form>
            </div>
            <!-- /.Newsletter Form -->
          </div>
        </div>
        <!-- /.col-lg-6 -->
      </div>
    </div>
    <hr class="dark-line">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="widget-text mt40">
          <!-- widget text -->
          <p>
            Our Vision at Pay2mate is to become a technology driven,

            "Financial Operating System for the World Community". We

            strive to innovate and bring state of the art solutions to you.
          </p>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-4 col-sm-6 col-6">
              <p class="address-text">
                <span>
                  <i class="icon-placeholder-3 icon-1x"></i>
                </span>
                2502 Babcock Rd,
                Suite #1911 </p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <p class="call-text"><span><i class="icon-phone-call icon-1x"></i></span>848-219-1009</p>
            </div>
          </div>
        </div>
        <!-- /.widget text -->
      </div>
      <div class="col-md-2 offset-md-1 col-sm-6 col-6">
        <div class="widget-footer mt40">
          <!-- widget footer -->
          <ul class="listnone">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <!-- /.widget footer -->
      </div>

      <div class="col-md-2 offset-md-1 col-sm-6 col-6">
        <div class="widget-social mt40">
          <!-- widget footer -->
          <ul class="listnone">
            <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li><a href="#"><i class="fa fa-instagram"></i>instagram</a></li>
            <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
            <li><a href="#"><i class="fa fa-youtube"></i>Youtube</a></li>
          </ul>
        </div>
        <!-- /.widget footer -->
      </div>
    </div>
  </div>
</div>
<!-- /.footer -->
<div class="tiny-footer">
  <!-- tiny footer -->
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
        <p>© Copyright 2019 | Ethertech Inc., A US Corporation Registered

          Move to Right

          under the Laws of Delaware State.</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
        <p>Terms of use | Privacy Policy</p>

      </div>
    </div>
  </div>
</div>


<a href="#0" class="cd-top" title="Go to top">Top</a>
