<div class="padding">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-header">
          <h2>Check</h2>
        </div>
        <div class="box-body">

            <ngb-alert type= "danger" *ngIf="!kycStatus && messageAlert" [dismissible]="false">
                <strong>Note!</strong> 
                Sorry, But you can't make a check because your <strong>KYC</strong>  is not completed,
            </ngb-alert>

          <form #checkForm="ngForm" (ngSubmit)="addCheck()">

              <!-- <span (click)="onClickFlip()" class="badge badge-pill primary pos-rlt text-sm mr-2 text-right">
                <b class="arrow left b-primary pull-in"></b>
              <i class="fa fa-undo"></i>                
              </span> -->

            <div class="check-boundary">
              <div #checkContainer
               [ngStyle]="!checkBackgroundPreview && {'background': 'url(' + chequeBackground + ') no-repeat 0 0'} ||
                          checkBackgroundPreview && {'background': 'url(' + checkBackgroundPreview + ') no-repeat 0 0'}"
               class="row no-margin">

                <div class="col-sm-12">
                  <p class="issued-number">
                    <input [(ngModel)]="checkModel.checkNumber" name="checkNumber" class="l-pd md-input">
                  </p>
                </div>

                <div *ngIf="!checkModel.individual" cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-6">
                  <div class="md-form-group float-label mb-22">
                    <h6>{{selectedCompany.companyName}}</h6>
                    <p>{{selectedCompany.address}}</p>
                  </div>
                </div>

                <div *ngIf="checkModel.individual" cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-6">
                  <div class="md-form-group float-label mb-22">
                    <h6>{{checkModel.senderName}}</h6>
                    <p>{{checkModel.senderAddress}}</p>
                  </div>
                </div>


                <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-3 offset-sm-3">
                  <div class="md-form-group float-label">
                    <label class="check-label">Date</label>
                    <input [(ngModel)]="checkModel.issuedDate" name="date"  data-plugin="datepicker" data-option="{autoclose: true}"
                     class="md-input" required value="">
                  </div>
                </div>

                <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-4 offset-sm-8">
                  <div class="md-form-group float-label">
                    <label class="check-label">Amount</label>
                    <input [(ngModel)]="checkModel.amount" name="amount"
                     class="md-input" (keyup)="convertAmountToWords()" required value="">
                  </div>
                </div>

                <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-12">
                  <div class="md-form-group float-label">
                    <label class="check-label">Pay to the Order Of</label>
                    <input class="md-input"  [value]="recieverName">
                  </div>
                </div>

                <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-12 mt-3">
                    <div class="md-form-group float-label">
                      <input style="width: 95%;" class="md-input" required [value]="wordsAmount">
                      <span class="dollar">Dollars</span>
                    </div>
                  </div>

                <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-6">
                  <div class="md-form-group float-label">
                    <label class="check-label">Memo</label>
                    <input [(ngModel)]="checkModel.checkMemo" name="memo" class="md-input" required value="">
                  </div>
                </div>

                <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-6">
                  <div class="md-form-group float-label">
                    <label class="check-label">Signature</label>
                    <span *ngIf="(selectedbankAccount | json) != '{}'" class="check-sign">
                      <span>1. </span>
                      <img class="sign-img" [src]="selectedbankAccount.signature" alt="">
                    </span>

                    <span *ngIf="secondSignImage"   class="check-sign">
                            <span>2. </span>
                            <img class="sign-img" [src]="secondSignImage" alt="">
                    </span> 

                  </div>
                </div>

                <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-4">
                  <div class="md-form-group text-center float-label">
                    <label class="check-label">
                      <b>{{selectedbankAccount.routingNumber}}</b>
                    </label>
                  </div>
                </div>

                <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-4">
                  <div class="md-form-group text-center float-label">
                    <label class="check-label">
                      <b> {{selectedbankAccount.accountNumber}} ⑈</b>
                    </label>
                  </div>
                </div>

                <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-4">
                  <div class="md-form-group text-center float-label">
                    <label class="check-label"><b>⑈ {{checkModel.checkNumber}} ⑈</b></label>
                  </div>
                </div>

              </div>
              

            </div>


            <div class="mb-2-lg row">
              <div class="col-sm-12 col-sm-offset-2">

                <div class="form-row">
                  <div class="col-sm-12 mb-3">
                  </div>

                  <div class="form-group col-md-12">
                    <label>Bank Account</label>

                    <select name="bankAccount" [(ngModel)]="checkModel.bankAccountId"
                      (change)="onChangeBankAccount($event.target.value)" class="form-control custom-select my-2">
                      <option disabled selected="true" [value]="">Choose Account</option>
                      <option [value]="account.bankAccountId" *ngFor="let account of bankAccounts">
                        {{account.accountName}}, {{account.accountNumber}}
                      </option>
                    </select>
                  </div>

                  <div class="col-sm-6">
                    <label>Individual</label>
                    <br>
                    <p>
                      <label class="mt-3 md-check">
                        <input [(ngModel)]="checkModel.individual" name="isIndividual" type="checkbox"
                          (change)="onClickPersonalInfo($event.target.checked)">
                        <i class="indigo"></i>
                      </label>
                    </p>
                  </div>

                  <div *ngIf="!checkModel.individual" class="form-group col-md-6">
                    <label>Attatch Company</label>

                    <select name="company" [(ngModel)]="checkModel.companyId"
                      (change)="onChangeCompany($event.target.value)" class="form-control custom-select my-2">
                      <option disabled selected="true" value="">
                        Choose Company
                      </option>
                      <option [value]="comp.Id" *ngFor="let comp of companies">
                        {{comp.companyName}}
                      </option>
                    </select>
                  </div>




                  
<!-- 
                  <div class="col-md-12">
                      <div class="box-color dark pos-rlt">
                        <span class="arrow bottom  b-dark"></span>
                        <div class="box-body">
                          Hoose Detail
                        </div>
                      </div>
                    </div> -->
  
  
                    <div class="form-group col-md-6">
                    <label>Choose Biller </label>

                      <select name="billerId" [(ngModel)]="checkModel.billerId"
                      (change)="onChangeBiller($event.target.value)"
                       class="form-control custom-select my-2">
                        <option disabled  [value]="">Choose Biller</option>
                        <option [value]="biller.recieverId" *ngFor="let biller of recievers">
                          {{biller.recieverEmail}}
                        </option>
                      </select>
                    </div>
                    <!-- <div class="form-group col-md-6">
                      <label for="inputEmail4">Reciever Email</label>
                      <input [(ngModel)]="checkModel.recieverEmail" name="recieverEmail" type="text" class="form-control"
                        placeholder="Receiver Email" />
                    </div> -->
  
                    <!-- <div class="form-group col-md-6">
                      <label for="inputEmail4">Phone#</label>
                      <input [(ngModel)]="checkModel.recieverPhone" name="recieverPhone" type="text" class="form-control"
                        placeholder="Reciever Phone" />
                    </div> -->


                  <div class="col-md-12">

                    <div class="box-color dark pos-rlt">
                      <span class="arrow bottom  b-dark"></span>
                      <div class="box-body">
                        Cheque Signatures
                      </div>
                    </div>

                  </div>


                  <div class="col-sm-6">
                    <div class="box p-3">
                      <strong class="text-muted">Partner Signature</strong>
                      <br>

                      <p>

                        <label class="mt-3 md-check">
                          <input type="checkbox" name="onbehalf"
                           [(ngModel)]="checkModel.senderOnBhalfSign">
                          <i class="indigo"></i>
                          Signature on your behalf
                        </label>

                      </p>



                      <div *ngIf="secondSignImage"  class="col-6 col-sm-3 col-md-4">
                        <div class="box">
                          <div>
                            <img class="w-100" alt="" [src]="secondSignImage" />
                          </div>
                        </div>
                      </div>

                      <br />
                      <input style="display:none" #checkSign type="file"  (change)="onSignImagePicked($event)" />

                      <button type="button" (click)="checkSign.click()" class="btn btn-fw accent">
                        <i class="fa fa-upload"></i>
                      </button>


                    </div>
                  </div>




                  <div class="col-sm-6">
                    <div class="box p-3">
                      <strong class="text-muted">Send Email to Partner, For Signature</strong>
                      <br>



                      <label>Partner Email</label>
                      <input type="text" [disabled]="secondSignImage"
                      [(ngModel)]="checkModel.senderPartnerEmail" name="senderPartnerEmail"
                       class="form-control" placeholder="Email" />


                      <button [disabled]="secondSignImage || !kycStatus" type="submit" class=" mt-3 btn btn-fw accent">
                        Send
                      </button>


                    </div>
                  </div>




                </div>


                <!-- Check BackGround Image -->


                <div class="form-group col-md-12 mt-3">
                  <label for="inputEmail4">Choose Check Background </label>

                  <div class="background-history">


                      <div drag-scroll drag-scroll-y-disabled="true" scrollbar-hidden="true">

                      <img class="check-image"
                      (click)="onClickBackgroundImage('../../../../../assets/cheque-background/b2.jpg')"
                      src="../../../../../assets/cheque-background/b2.jpg">

                    <img class="check-image"
                      (click)="onClickBackgroundImage('../../../../../assets/cheque-background/bca-slide___Source.jpg')"
                      src="../../../../../assets/cheque-background/bca-slide___Source.jpg">


                      <img class="check-image"
                        drag-scroll-item
                        (click)="activeIndex = i; selectedBackground(back.checkBackgroundId)"
                        [ngClass]="{selected: activeIndex === i &&
                           isBackSelected == true}"
                        *ngFor="let back of backgrounds; let i = index"
                        [src]="back.Image"/>
                      <!-- </drag-scroll> -->
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Upload Check Background </label>
    
                    <div *ngIf="checkBackgroundPreview" class="col-6 col-sm-3 col-md-4">
                        <div>
                          <img class="w-100" alt="" [src]="checkBackgroundPreview" />
                        </div>
                    </div>
    
                    <br />
                    <input
                      style="display:none"
                      #checkBack
                      type="file"
                      (change)="onCheckBackgroundPicked($event)"
                    />
    
                    <button
                      type="button"
                      (click)="checkBack.click()"
                      class="btn btn-fw accent">
                      <i class="fa fa-upload"></i>
                    </button>
                </div>

                <!-- End Back Ground Image -->
                <button [disabled]="!kycStatus" type="submit" class="btn primary">Save</button>

              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>


























    <!-- <div class="row cheque">
  <div class="col-md-12">

    <div class="example-boundary">

      <div class="cheque-div" cdkDragBoundary=".example-boundary" cdkDrag>
        
        <span class="control-label"> Your Name:</span>
        <h4 *ngIf="bankName.dirty && bankName.value">
          {{chequeModel.bankName}}
        </h4>
      </div>

      <div style="width: 250px" cdkDragBoundary=".example-boundary" cdkDrag>

          <div class="form-element">
              <label for="foo">$ </label>
              <input  disabled value="{{chequeModel.amount}}" type="text">
          </div>
          
      </div>



          <div style=" width: 50%; float: left;"  cdkDragBoundary=".example-boundary" cdkDrag>

              <div class="form-element" >
                  <label>Signature:  </label>
                  <span style="text-decoration: underline"> tanzeel</span>
              </div>
              
          </div>



        
      <div style=" width: 50%; float: right;" cdkDragBoundary=".example-boundary" cdkDrag>

          <div class="form-element" style="float: right;">
              <label>Date:  </label>
              <span style="text-decoration: underline"> 2-3-4</span>
          </div>
          
      </div>


    




    </div>
  </div>

</div> -->



    <!-- Modal -->

    <ngx-smart-modal #personalInfo identifier="personalInfo" customClass="">
      <div class="modal-header">
        <h5 class="modal-title">Name & Address</h5>
      </div>

      <div class="modal-body p-lg">
        <form class="p-x-xs">
          <div class="mb-2-lg row">
            <div class="col-sm-12">
              <div class="row row-sm">

                <div class="form-group col-md-6">
                  <label for="inputEmail4">Your Name</label>
                  <input [(ngModel)]="checkModel.senderName" name="senderName" type="text" class="form-control"
                    placeholder="Name" />
                </div>

                <div class="form-group col-md-12">
                  <label>Address</label>
                  <input [(ngModel)]="checkModel.senderAddress" name="senderAddress" type="text" class="form-control"
                    placeholder="Address" />
                </div>

              </div>
            </div>
          </div>



          <button type="button" class="btn dark-white p-x-md" (click)="personalInfo.close()">
            Cancel
          </button>
          <button type="submit" class="btn success p-x-md" (click)="personalInfo.close()">
            Submit
          </button>

        </form>
      </div>
    </ngx-smart-modal>


    
<!-- Modal -->

<ngx-smart-modal
#bankAccountModal
identifier="bankAccountModal"
customClass="nsm-dialog-animation-ttb">


  <div class="modal-body text-center">
      <p class="py-3 mt-3">
          <i class="fa fa-info-circle text-danger fa-4x"></i>
      </p>
      <p>Please Upload the Bank Account Signature Before Adding Check</p>
  </div>
  <div class="modal-footer">
      <button class="btn white" type="button"
       (click)="bankAccountModal.close()" >Cancel</button>
      <button class="btn success" type="button"
       routerLink="/add/signature">Upload</button>
  </div>


</ngx-smart-modal>

    <!-- Modal Check Image -->

    <!-- <ngx-smart-modal #checkImage identifier="checkImage" customClass="">
        <div class="modal-header">
          <h5 class="modal-title">Check Image</h5>
        </div>

        <div id="checkDiv" class="modal-body p-lg">
          
        </div>


    </ngx-smart-modal> -->