


.file-upload-container{
  text-align: center;
  box-shadow: none;
  border: 1px solid #6284f369;
  background: #2196f30d;
  position: relative;
  margin-bottom: 1.5rem;
}

  .cheque-div > span{
  cursor: move;
  font-size: 18px;

  }

  .cheque-div > h4{
    float: right;
    border-bottom: 1px solid black;
    margin-top: -3px;
    width: 75%;

  }

.cheque-div {
  cursor: move;
    padding: 20px;
}
.cheque-div:active{
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


 .dollar-amount{
  float: right;
}

.form-element > label{
  font-size: 18px;
  padding-right: 5px
}


  .cheque{

    margin-bottom :35px;

  }
  /* .check-boundary {


    background-size: cover;
    width: 59em;
    background-repeat: no-repeat;
    min-height: 30em;
    margin: 0 auto;
    max-width: 100%;
  } */



  .check-boundary {


    position: relative;
    z-index: 1;
    box-sizing: border-box;

    background-size: cover;
    max-width: 59em;
    background-repeat: no-repeat;
    min-height: 19em;
    /* min-height: 21em; */
    margin: 0 auto;
    border: 3px solid;

    font-weight: bold;

    /* max-width: 100%; */
    /* border: 1px solid #d1c6c6; */
  }


.background-history{
  /* padding: 10px 10px 10px 10px; */
  box-sizing: border-box;
  border: 1px solid;
  border-color: #CFCFCF;
  margin-bottom: 20px;
}
.drag-scroll-wrapper{
  height: auto;
}

/* .back-img {
  height: 60px;
  width: 65px;
} */

.sign-img {
  height: 75px;
  max-width: 30%;
}


.check-image {
  height: 100px;
  width: 150px;
  padding: 3px;
  cursor: pointer;
}



.selected{
  border: 1px solid;
}


.check-label{
margin-bottom: 0;
}


.md-input {
  height: 20px;
    padding: 2px;
    padding-left: 10px;
    /* border-bottom: 1px solid rgba(105, 105, 105, 0.77); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.77);
    width: 100%;
    color: black;
}

#payer-info {
  color: #272121;
  font-weight: 600;
}

.md-form-group {
  /* padding: 5px 0 15px 0; */
  padding: 0px 0 5px 0;

  position: relative;
}


.md-form-group:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

}

.no-margin {
      margin-right: 0px;
     margin-left: 0px;
}

.cover {
  padding: 15px;
  background-size: cover;
}


.form-area{
  border: 3px solid;
  /* min-height: 20rem; */
}


.issued-number{
  padding-top: 10px;
  font-weight: bold;
  float: right;
  width: 10%;
}
.l-pd {
  padding-left: 0px;
}
.order-w {
  width: 98%;
}

.w-50{
  width: 50%;
}

.sign-part {
  min-height: 160px;
}


.check-sign{
    width: 100%;
    padding-left: .5rem;
}

.dollar{
  color: black;
  float: right;
}


.mb-22{
  margin-bottom: -22px;
}

.check-sec-head{
  font-size: 20px;
  box-shadow: 10px 10px 5px #72727254;
  background-color: rgba(237, 237, 237, 0.38);
    /* background-color: rgba(158, 158, 158, 0.2); */
    font-weight: bold;
    padding: 10px;
    margin-bottom: 1rem;
}

/*
@font-face {
  font-family: 'MicrFont';
  src: url('../../../../../assets/fonts/micrenc.ttf')  format('truetype'),
} */

/** MICR Font **/
@font-face {
	font-family: 'Conv_micrenc';
	src: url('../../../../../assets/fonts/micrenc.eot');
  src: local('☺'), url('../../../../../assets/fonts/micrenc.woff') format('woff'),
   url('../../../../../assets/fonts/micrenc.ttf') format('truetype'),
    url('../../../../../assets/fonts/micrenc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




.check-number {
  font-family: 'Conv_micrenc',Sans-Serif;
  font-size: 23px;

}



:host /deep/ .tile[_ngcontent-c7] {
  box-shadow: none;
}



.tile {
  height: 100px;
  padding: 5px;
  cursor: pointer;
  width: 100%;
    /* background-color: #ccc; */
    background-size: cover!important;
}

.md-btn.md-fab {
  z-index: 20;
  width: 20px;
  padding: 0px;
  height: 75px;
  border-radius: 5%;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  /* transform: translate3d(0, 0, 0); */
  transition: 0.2s linear;
  transition-property: -webkit-transform, box-shadow;
  transition-property: transform, box-shadow;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.7;
  box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
  right: 0;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.7;
  box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
  left: 0;
}


.attach-image {
  height: 80px;
  width: 100%;
  cursor: pointer;
}

.attatch-label {
  word-break: break-word;
}





.or {
  line-height: 75px;
  padding: 10px;
  border: 1px solid #9e9e9e70;

}

.partner-sign-container {
  border: 1px solid #9e9e9e70;
}

.bank-logo-img {
  float: left;

  /* /new */

  width: 50px;
    height: 50px;
    position: relative;
    display: block;
    z-index: 10;
}

.bank-logo-txt {
  font-weight: 500;
}
.pl-10{
  padding-left: 10px;

}

.sign-img-container {
  /* height: 50px; */
    width: 100px;
    display: inline-block;
}
/*  check Text fileds and labels width */

.wc-10 {
  width: 10%;
  }

.wc-20 {
  width: 20%;
  }


.wc-25 {
width: 25%;
}

.wc-70 {
  width: 70%;
  }


.wc-75 {
  width: 75%;
  }

.wc-80 {
  width: 80%;
  }

  .wc-85 {
    width: 85%;
    }

    .wc-90 {
      width: 90%;
      }




   .cover:after {
     width: auto;
   }


   /* check background image selection */

   .unselect {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  .select {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
  }



  .theme-primary {
    color: rgba(255, 255, 255, 0.85);
    background-color: #285f94;
  }



  /* Attach Files */

  .doc-container {
  /*   height: 100%;
    max-height: 150px; */

    border-radius: 5px;
    /* overflow: hidden; */
    /* width: 100%; */
    width: 130px;
    height: 130px;
    position: relative;
    display: block;
    z-index: 10;
   }

   .doc-image {
     width: 100%;
     height: 100%;
     cursor: pointer;
   }


   :host /deep/ .document-modal {
    max-width: 1024px;
   }


   .document-text{
    word-break: break-word;
    margin-top: .5em;
   }


   .hr-text {
    font-size: 17px;
    position: relative;
    border: 0;
    height: 1.5em;
   }


 .hr-text:before {
    content: '';
   background: linear-gradient(to right, transparent, #000000, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

 .hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #f4fafe;
  background-color: #79bcff;
}


.signle-sign{
float: right;
}
