.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cheque-div > span{
  cursor: move;
  font-size: 18px;

  }

  .cheque-div > h4{
    float: right;
    border-bottom: 1px solid black;
    margin-top: -3px;
    width: 75%;

  }

.cheque-div {
  cursor: move;
    padding: 20px;
}
.cheque-div:active{
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


 .dollar-amount{
  float: right;
}

.form-element > label{
  font-size: 18px;
  padding-right: 5px
}

  
  .cheque{

    margin-bottom :35px;

  }
  /* .check-boundary {


    background-size: cover;
    width: 59em;
    background-repeat: no-repeat;
    min-height: 30em;
    margin: 0 auto;
    max-width: 100%;
  } */
  


  .check-boundary {


    position: relative;
    z-index: 1;
    box-sizing: border-box;

    background-size: cover;
    max-width: 59em;
    background-repeat: no-repeat;
    min-height: 23em;
    margin: 0 auto;
    border: 3px solid;

    /* max-width: 100%; */
    /* border: 1px solid #d1c6c6; */
  }

  
.background-history{
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #CFCFCF;
  margin-bottom: 20px;
}
.drag-scroll-wrapper{
  height: auto;
}

/* .back-img {
  height: 60px;
  width: 65px;
} */

.sign-img {
  height: 75px;
  max-width: 30%;
}


.check-image {
  height: 100px;
  width: 150px;
  padding: 3px;
  cursor: pointer;
}



.selected{
  border: 1px solid;
}


.check-label{
margin-bottom: 0;
}


.md-input {
  height: 20px;
    padding: 2px;
    padding-left: 50px;
    border-bottom: 1px solid rgba(105, 105, 105, 0.77);
    width: 100%;
}

.md-form-group {
  padding: 5px 0 15px 0;
  position: relative;
}

.no-margin{
    margin-right: 0px; 
     margin-left: 0px; 
}

.form-area{
  border: 3px solid;
  /* min-height: 20rem; */
}


.issued-number{
  font-weight: bold;
  float: right;
  width: 10%;
}
.l-pd {
  padding-left: 0px;
}
.order-w {
  width: 98%;
}

.w-50{
  width: 50%;
}

.box {
  min-height: 163px;
}


.check-sign{
    width: 100%;
    padding-left: .5rem;
}