<div class="padding">
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header">
            <h2>Cheque</h2>
          </div>
          <div class="box-body">

              <div class="example-boundary">
                  <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                    I can only be dragged within the dotted container
                  </div>


                  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list">
                      <input  style="width:50%" type="text" value="signature" cdkDrag>
                      <input  style="width:48%; margin-left: 5px" type="text" value="Date" cdkDrag>
                    </div>



                </div>


              <div class="mb-2-lg row">
                  <div class="col-sm-12 col-sm-offset-2">
            <form>
              <div class="form-row">
                <div class="col-sm-12 mb-3">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="Password"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress"
                  placeholder="1234 Main St"
                />
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress2"
                  placeholder="Apartment, studio, or floor"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity" />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState" class="d-block">State</label>
                  <select id="inputState" class="custom-select w-100">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip</label>
                  <input type="text" class="form-control" id="inputZip" />
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" /> Activate
                  </label>
                </div>
              </div>
              <button type="submit" class="btn primary">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  























<!-- <div class="row cheque">
  <div class="col-md-12">

    <div class="example-boundary">

      <div class="cheque-div" cdkDragBoundary=".example-boundary" cdkDrag>
        
        <span class="control-label"> Your Name:</span>
        <h4 *ngIf="bankName.dirty && bankName.value">
          {{chequeModel.bankName}}
        </h4>
      </div>

      <div style="width: 250px" cdkDragBoundary=".example-boundary" cdkDrag>

          <div class="form-element">
              <label for="foo">$ </label>
              <input  disabled value="{{chequeModel.amount}}" type="text">
          </div>
          
      </div>



          <div style=" width: 50%; float: left;"  cdkDragBoundary=".example-boundary" cdkDrag>

              <div class="form-element" >
                  <label>Signature:  </label>
                  <span style="text-decoration: underline"> tanzeel</span>
              </div>
              
          </div>



        
      <div style=" width: 50%; float: right;" cdkDragBoundary=".example-boundary" cdkDrag>

          <div class="form-element" style="float: right;">
              <label>Date:  </label>
              <span style="text-decoration: underline"> 2-3-4</span>
          </div>
          
      </div>


    




    </div>
  </div>

</div> -->

   