<div class="padding">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-header">
          <h2>Create Check</h2>
        </div>
        <div class="box-body">

            <ngb-alert type= "danger" *ngIf="!user.trustedUser && user.kycStatus=='none' && messageAlert" [dismissible]="false">
                <strong>Note!</strong>
                Please complete your KYC Process
                 <strong>
                    <a [routerLink]="['/settings']">Click Here </a>
                </strong>
            </ngb-alert>

            <ngb-alert type= "danger" *ngIf="user.kycStatus=='pending' && messageAlert" [dismissible]="false">
                <strong>Note!</strong>
                Your Documents is under review we will verify your documents soon.
            </ngb-alert>

          <form #checkForm="ngForm" (ngSubmit)="checkForm.form.valid && addCheck()">

              <!-- <span (click)="onClickFlip()" class="badge badge-pill primary pos-rlt text-sm mr-2 text-right">
                <b class="arrow left b-primary pull-in"></b>
              <i class="fa fa-undo"></i>
              </span> -->
            <div class="mb-2-lg row">
              <div class="col-sm-12 col-sm-offset-2">

                <div class="form-row">
                  <div class="col-sm-12 mb-3">
                  </div>

                  <div class="form-group col-md-6">
                    <label>Select Bank Account</label>

                    <select name="bankAccount" [(ngModel)]="checkModel.bankAccountId"
                    #bankAccount="ngModel" name="bankAccount"
                     [ngClass]="{'is-invalid': checkForm.submitted && bankAccount.invalid}"
                      (change)="onChangeBankAccount($event.target.value)"
                       class="form-control custom-select my-2" required>
                      <option disabled selected="true" [value]="">Choose Account</option>
                      <option [value]="account.bankAccountId" *ngFor="let account of bankAccounts">
                        {{account.accountName}} <b>-</b> {{account.accountNumber}}
                      </option>
                    </select>
                  </div>


                  <div class="form-group col-sm-6">
                      <label>Select Payee </label>

                        <select name="billerId" [(ngModel)]="checkModel.billerId"
                        #biller="ngModel" name="biller"
                        [ngClass]="{'is-invalid': checkForm.submitted && biller.invalid}"
                        (change)="onChangeBiller($event.target.value)"
                         class="form-control custom-select my-2" required>
                          <option disabled  [value]="">Choose Payee</option>
                          <option [value]="biller.recieverId" *ngFor="let biller of recievers">
                          {{biller.recieverName}} - {{biller.recieverEmail}}
                          </option>
                        </select>
                      </div>



                      <!-- if there is co-signatory -->
                  <section *ngIf="selectedbankAccount.companyPartner || selectedbankAccount.individualPartner">

                      <div class="form-row">

                          <div class="form-group col-md-12 mt-3">
                              <p>
                                  <label class="md-check">
                                      <input [(ngModel)]="checkModel.uploadPartnerSignature"
                                       name="uploadPartnerSignature"
                                       type="checkbox"
                                       (change)="uploadPartnerSignature = !uploadPartnerSignature" >
                                      <i class="blue"></i>
                                    <strong>
                                      Do you want to upload your partner's signature on your behalf ?
                                    </strong>
                                  </label>
                              </p>
                        </div>
                      </div>

                      <!-- Sign Image upload  -->
                       <div *ngIf="uploadPartnerSignature" class="col-sm-12">

                          <div class="p-3 file-upload-container">

                              <label>Upload Signature </label>

                              <div *ngIf="secondSignImage" style="margin: auto" class="col-6 col-sm-3 col-md-4">
                                  <div>
                                    <img style="max-width: 100px" class="w-100" alt="" [src]="secondSignImage" />
                                  </div>
                              </div>

                              <br />
                              <input
                                style="display:none"
                                #secondSign
                                type="file"
                                (change)="onSignImagePicked($event)"
                              />

                              <button
                                type="button"
                                (click)="secondSign.click()"
                                class="btn btn-fw accent">
                                <i class="fa fa-image"></i>
                                Select Image
                              </button>

                              <button *ngIf="secondSignImage"
                              type="button"
                              (click)="cancelPartnerSign()"
                              class="btn default ml-2">
                              Cancel
                            </button>

                          </div>

                        </div>

                  </section>


                  <!-- <div class="col-sm-3 text-center">
                    <label>Individual</label>
                    <br>
                    <p>
                      <label class="mt-3 md-check">
                        <input [(ngModel)]="checkModel.individual" name="isIndividual" type="checkbox"
                          (change)="onClickPersonalInfo($event.target.checked)">
                        <i class="indigo"></i>
                      </label>
                    </p>

                  </div>


                  <div class="col-sm-1 text-center">
                      <span class="text-muted or">OR</span>
                  </div>


                  <div class="col-sm-3 text-center">
                      <label>Company</label>
                      <br>
                      <p>
                        <label class="mt-3 md-check">
                          <input [(ngModel)]="checkModel.isCompany"  name="isCompany" type="checkbox"
                            (change)="onClickCompany($event.target.checked)">
                          <i class="indigo"></i>
                        </label>
                      </p>
                    </div> -->







                    <!-- <div class="form-group col-md-6">
                      <label for="inputEmail4">Reciever Email</label>
                      <input [(ngModel)]="checkModel.recieverEmail" name="recieverEmail" type="text" class="form-control"
                        placeholder="Receiver Email" />
                    </div> -->

                    <!-- <div class="form-group col-md-6">
                      <label for="inputEmail4">Phone#</label>
                      <input [(ngModel)]="checkModel.recieverPhone" name="recieverPhone" type="text" class="form-control"
                        placeholder="Reciever Phone" />
                    </div> -->

                </div>



                <div class="text-center mt-5 mb-5">
                    <hr class="hr-text" data-content="Check Background" width="50%" />
                </div>


                <!-- Check BackGround Image -->

                <div *ngIf="backgrounds.length > 0" class="form-group col-md-12 mt-3">
                  <label for="">Choose Check Background </label>

            <div class="background-history">

              <ngu-carousel #myCarousel [inputs]="docTiles" [dataSource]="backgrounds">
                <ngu-tile *nguCarouselDef="let item; let i = index">

                      <img class="tile" [src]="item.Image"
                      (click)="activeIndex = i; selectedBackground(item.checkBackgroundId)"
                        [ngClass]="{selected: activeIndex === i &&
                           isBackSelected == true}">
                           <div [ngClass]="{select: isBackSelected == true && selctedCheckBackgroundId  == item.checkBackgroundId,
                             'unselect': !(isBackSelected == true && selctedCheckBackgroundId  == item.checkBackgroundId)}">
                            <button class="btn" type="button" ><i class="fa fa-check-square-o"></i>
                          </button>
                        </div>
                </ngu-tile>

                <button type="button" NguCarouselPrev class="leftRs md-btn md-fab primary">
                    <i class="fa fa-angle-double-left"></i>
                </button>

                <button type="button" NguCarouselNext class="rightRs md-btn md-fab primary">
                    <i class="fa fa-angle-double-right"></i>

                </button>


              </ngu-carousel>

            </div>



                </div>


                <div class="col-md-4">
                  <div class="p-3 file-upload-container">
                      <label>Upload Check Background </label>

                      <div *ngIf="checkBackgroundPreview" style="margin: auto" class="col-6 col-sm-3 col-md-4">
                          <div>
                            <img class="w-100" alt="" [src]="checkBackgroundPreview" />
                          </div>
                      </div>

                      <br />
                      <input
                        style="display:none"
                        #checkBack
                        type="file"
                        (change)="onCheckBackgroundPicked($event)"
                      />

                      <button
                        type="button"
                        (click)="checkBack.click()"
                        class="btn btn-fw accent">
                        <i class="fa fa-image"></i>
                        Upload New Image
                      </button>

                      <button *ngIf="checkBackgroundPreview"
                      type="button"
                      (click)="cancelCheckBackgroundPreview()"
                      class="btn default ml-2">
                      Cancel
                    </button>
                  </div>

                </div>


                <!-- End Back Ground Image -->



                <div class="text-center mt-5 mb-5">
                    <hr class="hr-text" data-content="Attatch Documents" width="50%" />
                </div>


                <div class="form-row">

                  <div class="form-group col-md-12 mt-3">
                      <p>
                          <label class="md-check">
                              <input
                               name="fileupload"
                               type="checkbox"
                               (change)="fileUpload = !fileUpload " >
                              <i class="blue"></i>
                            <strong>
                              Do you want to attach a supporting Documents with this Check ?
                            </strong>
                          </label>
                      </p>
                </div>
              </div>

               <div *ngIf="fileUpload" class="col-sm-4">

                  <div class="p-3 file-upload-container">
                   <label *ngIf="documentName" class="attatch-label">{{documentName}}</label>

                    <button *ngIf="!documentName" type="button" (click)="docModal.open()" class="btn btn-fw accent">
                        <i class="fa fa-paperclip"></i>
                        Select File
                    </button>

                    <button *ngIf="documentName"
                    type="button"
                    (click)="cancelAttacthDocument()"
                    class="btn white ml-2">
                    Cancel
                </button>
                  </div>

                </div>
              </div>

            </div>


            <div class="check-boundary">
                <div  #checkContainer
                [ngStyle]="!checkBackgroundPreview &&{'background-image': 'url(' +chequeBackground+ ')','background-size':'100% 100%'} ||
                checkBackgroundPreview && {'background-image': 'url(' + checkBackgroundPreview + ')','background-size':'100% 100%'}"
                 class="row no-margin cover">

                  <div class="col-sm-12">
                    <p class="issued-number">
                      <input [(ngModel)]="checkModel.checkNumber"
                       name="checkNumber" #checkNumber="ngModel"
                       [ngClass]="{'is-invalid': checkForm.submitted && checkNumber.invalid}"
                        class="l-pd md-input" required>
                    </p>
                  </div>


                  <div id="payer-info" *ngIf="(selectedbankAccount | json) != '{}'"
                   cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-6 ml-3">
                    <div class="md-form-group float-label">
                      <h6>{{selectedbankAccount.senderName}}</h6>
                      <p>{{selectedbankAccount.senderAddress}}, {{selectedbankAccount.senderzipCode}}</p>
                    </div>
                  </div>


                  <div *ngIf="(selectedbankAccount | json) != '{}'" cdkDragBoundary=".check-boundary"
                   cdkDrag class="col-sm-3 mb-2" style="margin-left: 21%;line-height: 50px;">
                    <div class="md-form-group float-label">
                      <label class="check-label wc-20">Date</label>
                      <input [(ngModel)]="checkModel.issuedDate" name="date"
                      bsDatepicker [bsConfig]="bsConfig"
                      autocomplete="off"
                       class="md-input wc-80"
                       #date="ngModel" name="date"
                       [ngClass]="{'is-invalid': checkForm.submitted && date.invalid}"
                        required>
                    </div>
                  </div>

                  <div cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-4 offset-sm-8 mb-2">
                    <div class="md-form-group float-label">
                      <label class="check-label wc-25">Amount</label>
                      <input [(ngModel)]="checkModel.amount" name="amount"
                       class="check-number md-input wc-70" (keyup)="convertAmountToWords()"
                       type="number"
                       #amount="ngModel" name="amount"
                       [ngClass]="{'is-invalid': checkForm.submitted && amount.invalid}"
                        required value=0>
                        <i class="fa fa-usd"></i>
                    </div>
                  </div>

                  <div cdkDragBoundary=".check-boundary" cdkDrag
                   class="col-sm-11 ml-3 mb-2">
                    <div class="md-form-group float-label">
                      <label class="check-label wc-20">Pay to the Order Of</label>
                      <input class="md-input wc-80"  [value]="recieverName">
                    </div>
                  </div>

                  <div cdkDragBoundary=".check-boundary" cdkDrag
                   class="col-sm-12 ml-3 mb-2">
                      <div class="md-form-group float-label">
                        <input style="padding-left: 0" class="md-input wc-90"  [value]="wordsAmount">
                        <span class="dollar wc-10">Dollars</span>
                      </div>
                    </div>

                    <div *ngIf="(selectedbankAccount | json) != '{}'" cdkDragBoundary=".check-boundary"
                     cdkDrag class="col-sm-11 ml-3 mb-2">
                        <div class="md-form-group float-label">
                          <!-- wc-10 -->
                          <div class="bank-logo-img">
                              <img class="w-100" [src]="selectedbankAccount.bankLogo" alt="">
                          </div>
                          <span class="pl-10 bank-logo-txt">

                              <span class="">{{selectedbankAccount.address}}</span>
                              <br>
                                  <span class="pl-10">{{selectedbankAccount.city}}</span>,
                                  <span>{{selectedbankAccount.zipCode}}</span>

                          </span>

                        </div>
                      </div>

                  <div cdkDragBoundary=".check-boundary" cdkDrag
                   class="col-sm-3 ml-3">
                    <div class="md-form-group float-label">
                      <input [(ngModel)]="checkModel.checkMemo"
                       name="memo" class="md-input" value="" placeholder="Memo">
                    </div>
                  </div>

                  <div style="margin-top: -8px;" cdkDragBoundary=".check-boundary" cdkDrag class="col-sm-8">
                    <div class="md-form-group float-label"
                    [ngClass]="{'signle-sign': !secondSignImage}"
                    >
                      <label class="check-label">Signature</label>
                      <span *ngIf="(selectedbankAccount | json) != '{}'" class="check-sign">
                        <span>1. </span>
                        <div class="sign-img-container">
                            <img class="w-100" [src]="selectedbankAccount.signature" alt="">
                        </div>
                      </span>

                      <span *ngIf="secondSignImage"   class="ml-5 check-sign">
                              <span>2. </span>
                        <div class="sign-img-container">
                              <img class="w-100" [src]="secondSignImage" alt="">
                      </div>
                      </span>

                    </div>
                  </div>

                  <div cdkDragBoundary=".check-boundary" cdkDrag class="col-4 col-sm-4">
                    <div class="md-form-group text-center float-label">
                      <label class="check-number check-label">
                        <b>a{{selectedbankAccount.routingNumber}}a</b>
                      </label>
                    </div>
                  </div>

                  <div cdkDragBoundary=".check-boundary" cdkDrag class="col-4 col-sm-4">
                    <div class="md-form-group text-center float-label">
                      <label class="check-number check-label">
                        <b>
                          c{{selectedbankAccount.accountNumber}}<span *ngIf="selectedbankAccount.isSubAccount">d{{selectedbankAccount.subAccountNumber}}</span>c
                        </b>

                      </label>
                    </div>
                  </div>

                  <div cdkDragBoundary=".check-boundary" cdkDrag class="col-4 col-sm-4">
                    <div class="md-form-group text-center float-label">
                      <label class="check-number  check-label"><b>b{{checkModel.checkNumber}}b</b></label>
                    </div>
                  </div>

                </div>
            </div>

            <ul *ngIf="!checkForm.form.valid && checkForm.submitted"
              [ngClass]="{'alert alert-danger': !checkForm.form.valid && checkForm.submitted }"
              class="list-unstyled mt-2 filled" id="parsley-id-39">
                <li *ngIf="checkNumber.invalid" class="text-danger">
                 <i class="fa fa-times"></i> Check Number is Required
                </li>
                <li *ngIf="checkNumber.invalid" class="text-danger">
                    <i class="fa fa-times"></i> Date is Required</li>
                <li *ngIf="amount.invalid" class="text-danger">
                    <i class="fa fa-times"></i> Amount is Required</li>
                <li *ngIf="bankAccount.invalid" class="text-danger">
                    <i class="fa fa-times"></i> Bank Account is Required</li>
                <li *ngIf="biller.invalid" class="text-danger">
                    <i class="fa fa-times"></i> Payee is Required</li>
            </ul>


              <button [disabled]="!user.trustedUser" type="submit" class="btn btn-md primary">Save</button>
          </form>

        </div>
      </div>
    </div>
























    <!-- Modal -->



<!-- Modal -->

<ngx-smart-modal
#bankAccountModal
identifier="bankAccountModal"
customClass="nsm-dialog-animation-ttb">


  <div class="modal-body text-center">
      <p class="py-3 mt-3">
          <i class="fa fa-info-circle text-warning fa-4x"></i>
      </p>
      <p>Please Upload the Bank Account Signature Before Adding Check</p>
  </div>
  <div class="modal-footer">
      <button class="btn white" type="button"
       (click)="bankAccountModal.close()" >Cancel</button>
      <button class="btn primary" type="button"
       routerLink="/add/signature">Upload</button>
  </div>


</ngx-smart-modal>

<ngx-smart-modal
#docModal
identifier="docModal"
customClass="nsm-dialog-animation-ttb document-modal">


  <div class="modal-body text-center">
      <p class="py-3 mt-3">
          <i class="fa fa-paperclip text-primary fa-4x"></i>
      </p>

    <div clas="mb-3">


      <div style="padding: 10px" *ngIf="docs.length ==0">
        <p>Please upload your documents first</p>
        <button [routerLink]="['/documents']" class="btn warning">Click here</button>
      </div>




      <div *ngIf="docs.length !=0" class="row row-xs">

          <div  *ngFor="let item of docs | filterBy: docFilter | paginate: { itemsPerPage: 12, currentPage: p }"
           class="col-6 col-sm-4 col-md-2">
              <div class="box p-1 doc-container">

                <!-- Only For Images -->
                <img class="doc-image" title="Image"
                *ngIf="(item.documentUrl | extention) == true"
                 [src]="item.documentUrl"
                (click)="selectDocument(item.documentId)">

                      <!-- Another Document -->
                      <img title="File" *ngIf="(item.documentUrl | extention) == false"
                      class="doc-image"  (click)="selectDocument(item.documentId)"
                       src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxXpfgfkMNDW_ob3dAHNcsCkPVvJrpRJA_E6BGEyk7M15wBBgL" alt="">
                       <p class="document-text">{{item.documentName}}</p>
                    </div>
              </div>
          </div>
          <!-- if no check found with search -->
      </div>
      <div class="mt-5 text-center">
      <pagination-controls maxSize="9" autoHide="true" (pageChange)="p = $event"></pagination-controls>
       </div>

<!--
        <ngu-carousel *ngIf="docs.length !=0" #myCarousel [inputs]="docTiles" [dataSource]="docs">
          <ngu-tile *nguCarouselDef="let item; let i = index">

                <img class="attach-image"
                *ngIf="(item.documentUrl | extention) == true"
                 [src]="item.documentUrl"
                (click)="selectDocument(item.documentId)">


                <img class="attach-image"
                *ngIf="(item.documentUrl | extention) == false"
                 src="https://www.freeiconspng.com/uploads/text-file-icon-clip-art--royalty--32.png"
                (click)="selectDocument(item.documentId)">

          </ngu-tile>

          <button type="button" NguCarouselPrev class="leftRs md-btn md-fab primary">
              <i class="fa fa-angle-double-left"></i>
          </button>

          <button type="button" NguCarouselNext class="rightRs md-btn md-fab primary">
              <i class="fa fa-angle-double-right"></i>

          </button>


        </ngu-carousel> -->

  </div>
  <div class="modal-footer">
      <button class="btn white" type="button"
       (click)="docModal.close()" >Cancel</button>
      <button class="btn primary" type="button"
       (click)="docModal.close()">OK</button>
  </div>


</ngx-smart-modal>


    <!-- Modal Check Image -->

    <!-- <ngx-smart-modal #checkImage identifier="checkImage" customClass="">
        <div class="modal-header">
          <h5 class="modal-title">Check Image</h5>
        </div>

        <div id="checkDiv" class="modal-body p-lg">

        </div>


    </ngx-smart-modal> -->


    <!-- On check Completed -->


<ngx-smart-modal
#checkCompleteModal
identifier="checkCompleteModal"
customClass="nsm-dialog-animation-ttb">


  <div class="modal-body text-center">


          <div class="checkmark">
              <svg version="1.1" id="Layer_1"
                   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xl
                                                                   ink" x="0px" y="0px"
               viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
            <path class="path" fill="none" stroke="#7DB0D5" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
              c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
              c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z"/>
            <circle class="path" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
            <polyline class="path" fill="none" stroke="#7DB0D5" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8
              74.1,108.4 48.2,86.4 "/>

            <!-- <circle class="spin" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/> -->

            </svg>
            <p>Check Sent</p>
            </div>




  </div>
  <div class="modal-footer">
      <button class="btn white" type="button"
       (click)="checkCompleteModal.close(); checkModel = {}" >OK</button>
      <button class="btn primary" type="button"
       routerLink="/check-history/sent">View Check History </button>
  </div>


</ngx-smart-modal>
