
.mtop {
  margin-top: -8px;
}

.file-upload-container{
  text-align: center;
  box-shadow: none;
  border: 1px solid #6284f369;
  background: #2196f30d;
  position: relative;
  margin-bottom: 1.5rem;
}

  .cheque-div > span{
  cursor: move;
  font-size: 18px;

  }

  .cheque-div > h4{
    float: right;
    border-bottom: 1px solid black;
    margin-top: -3px;
    width: 75%;

  }

.cheque-div {
  cursor: move;
    padding: 20px;
}
.cheque-div:active{
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


 .dollar-amount{
  float: right;
}

.form-element > label{
  font-size: 18px;
  padding-right: 5px
}


  .cheque{

    margin-bottom :35px;

  }
  /* .check-boundary {


    background-size: cover;
    width: 59em;
    background-repeat: no-repeat;
    min-height: 30em;
    margin: 0 auto;
    max-width: 100%;
  } */



  .check-boundary {


    position: relative;
    z-index: 1;
    box-sizing: border-box;

    background-size: cover;
    max-width: 59em;
    background-repeat: no-repeat;
    min-height: 19em;
    /* min-height: 21em; */
    margin: 0 auto;
    /* border: 3px solid; */

    font-weight: bold;
  }


.background-history{
  /* padding: 10px 10px 10px 10px; */
  box-sizing: border-box;
  border: 1px solid;
  border-color: #CFCFCF;
  margin-bottom: 20px;
}
.drag-scroll-wrapper{
  height: auto;
}

/* .back-img {
  height: 60px;
  width: 65px;
} */

.sign-img {
  height: 75px;
  max-width: 30%;
}


.check-image {
  height: 100px;
  width: 150px;
  padding: 3px;
  cursor: pointer;
}



.selected{
  border: 1px solid;
}


.check-label{
margin-bottom: 0;
font-weight: 500;
    font-size: 15px;
}


.md-input {
  height: 20px;
    padding: 2px;
    padding-left: 10px;
    /* border-bottom: 1px solid rgba(105, 105, 105, 0.77); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.77);
    width: 100%;
    color: black;
}

#payer-info {
  color: #272121;
  font-weight: 600;
}

.md-form-group {
  /* padding: 5px 0 15px 0; */
  padding: 0px 0 5px 0;

  position: relative;
}


.md-form-group:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

}

.no-margin {
      margin-right: 0px;
     margin-left: 0px;
}

.cover {
  padding: 15px;
  background-size: cover;
}


.form-area{
  border: 3px solid;
  /* min-height: 20rem; */
}


.issued-number{
  padding-top: 10px;
  font-weight: bold;
  float: right;
  width: 10%;
}
.l-pd {
  padding-left: 0px;
}
.order-w {
  width: 98%;
}

.w-50{
  width: 50%;
}

.sign-part {
  min-height: 160px;
}


.check-sign{
    width: 100%;
    padding-left: .5rem;
}

.dollar{
  color: black;
  float: right;
  font-weight: 500;
    font-size: 15px;
}


.mb-22{
  margin-bottom: -22px;
}

.check-sec-head{
  font-size: 20px;
  box-shadow: 10px 10px 5px #72727254;
  background-color: rgba(237, 237, 237, 0.38);
    /* background-color: rgba(158, 158, 158, 0.2); */
    font-weight: bold;
    padding: 10px;
    margin-bottom: 1rem;
}

/*
@font-face {
  font-family: 'MicrFont';
  src: url('../../../../../assets/fonts/micrenc.ttf')  format('truetype'),
} */

/** MICR Font **/
@font-face {
	font-family: 'Conv_micrenc';
	src: url('../../../../../assets/fonts/micrenc.eot');
  src: local('☺'), url('../../../../../assets/fonts/micrenc.woff') format('woff'),
   url('../../../../../assets/fonts/micrenc.ttf') format('truetype'),
    url('../../../../../assets/fonts/micrenc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




.check-number {
  font-family: 'Conv_micrenc',Sans-Serif;
  font-size: 23px;

}



:host /deep/ .tile[_ngcontent-c7] {
  box-shadow: none;
}



.tile {
/*   height: 100px;
  padding: 5px; */
  height: 62px;
  padding: 2px;
  cursor: pointer;
  width: 100%;
    /* background-color: #ccc; */
    background-size: cover!important;
}

.md-btn.md-fab {
  z-index: 20;
  width: 20px;
  padding: 0px;
  /* height: 75px; */
  height: 50px;
  border-radius: 5%;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  /* transform: translate3d(0, 0, 0); */
  transition: 0.2s linear;
  transition-property: -webkit-transform, box-shadow;
  transition-property: transform, box-shadow;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.7;
  box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
  right: 0;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 0.7;
  box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
  left: 0;
}


.attach-image {
  height: 80px;
  width: 100%;
  cursor: pointer;
}

.attatch-label {
  word-break: break-word;
}





.or {
  line-height: 75px;
  padding: 10px;
  border: 1px solid #9e9e9e70;

}

.partner-sign-container {
  border: 1px solid #9e9e9e70;
}

.bank-logo-img {
  float: left;

  /* /new */

  width: 50px;
    height: 50px;
    position: relative;
    display: block;
    z-index: 10;
}

.bank-logo-txt {
  font-weight: 500;
}
.pl-10{
  padding-left: 10px;

}

.sign-img-container {
  /* height: 50px; */
    width: 100px;
    display: inline-block;
}
/*  check Text fileds and labels width */

.wc-10 {
  width: 10%;
  }

.wc-20 {
  width: 20%;
  }


.wc-25 {
width: 25%;
}

.wc-70 {
  width: 70%;
  }


.wc-75 {
  width: 75%;
  }

.wc-80 {
  width: 80%;
  }

  .wc-85 {
    width: 85%;
    }

    .wc-90 {
      width: 90%;
      }




   .cover:after {
     width: auto;
   }


   /* check background image selection */

   .unselect {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  .select {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
  }



  .theme-primary {
    color: rgba(255, 255, 255, 0.85);
    background-color: #285f94;
  }



  /* Attach Files */

  .doc-container {
  /*   height: 100%;
    max-height: 150px; */

    border-radius: 5px;
    /* overflow: hidden; */
    /* width: 100%; */
    width: 130px;
    height: 130px;
    position: relative;
    display: block;
    z-index: 10;
   }

   .doc-image {
     width: 100%;
     height: 100%;
     cursor: pointer;
   }


   :host /deep/ .document-modal {
    max-width: 1024px;
   }


   .document-text{
    word-break: break-word;
    margin-top: .5em;
   }


   .hr-text {
    font-size: 17px;
    position: relative;
    border: 0;
    height: 1.5em;
   }


 .hr-text:before {
    content: '';
   background: linear-gradient(to right, transparent, #000000, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

 .hr-text:after {
   display: none;
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #285f94;
  background-color: #f3f6f9;
}


.signle-sign{
float: right;
}










/* Check completeion tick */

.checkmark {
  width: 100px;
  margin: 0 auto;
  padding-top: 25px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 2s ease-in-out;
  -webkit-animation: dash 2s ease-in-out;
}

.spin {
  animation: spin 2s;
  -webkit-animation: spin 2s;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}


@-webkit-keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}

@keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
  }
}


  @keyframes text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
  }
}












/* New Style Check */



@font-face {
  font-family: 'micr';
  /* src: url('fonts/micr-encoding.regular.ttf'); */

	src: url('../../../../../assets/fonts/micrenc.eot');
  src: local('☺'), url('../../../../../assets/fonts/micrenc.woff') format('woff'),
   url('../../../../../assets/fonts/micrenc.ttf') format('truetype'),
    url('../../../../../assets/fonts/micrenc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.main-block {
  position: relative;
  /* max-width: 59em; */
  max-width:100%;
  min-height: 19em;
  padding: 10px;
  /* background-color: #e7f8ff; */
}
.content {
  display: inline-block;
  padding: 20px;
  border: 10px solid #5e5e5e;
  position: relative;
}
.content:before {
  content: "";
  position: absolute;
  width: 101%;
  height: 103%;
  left: -6px;
  top: -6px;
  border: 1px dashed #ffffff;
}
.logo {
  float: left;
}
.logo img {
  width: 180px;
}
.logo-right {
  float: right;
  text-align: right;
  font-weight: 700;
  width: 30%;
}
.content input {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  /* background-color: #e7f8ff; */
}
.date {
  border-bottom: 1px solid;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  padding-left: 10px;
}
.date input[type="text"] {
  line-height: 35px;
  width: 80%;
  margin-left: 5px;
}
.ch-row {
  float: left;
  width: 100%;
  white-space: nowrap;
  padding: 10px 0;
}
.pay {
  display: inline-block;
  width: 78%;
  font-weight: 700;
  border-bottom: 1px solid;
  padding: 0 0 0 10px;
}
.pay span {
  display: inline-block;
}
.currency {
  width: 20%;
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
}
.currency input[type="number"] {
  border: 1px solid;
  line-height: 35px;
  vertical-align: bottom;
  margin-left: 10px;
  width: 86%;
}
.pay input[type="text"] {
  height: auto;
  display: inline-block;
  line-height: 35px;
  vertical-align: bottom;
  width: 88%;
}
.curr-word {
  line-height: 35px;
  text-align: right;
  border-bottom: 1px solid;
  width: 88%;
  font-weight: 700;
  padding: 0 10px 0 0;
  display: inline-block;
}
.curr-word input[type="text"] {
  width: 90%;
  line-height: 35px;

}
.third span {
  display: inline-block;
  /* vertical-align: bottom; */
  vertical-align: middle;
  margin-left: 5px;
}
.third img {
  /* display: inline-block; */
  line-height: 35px;
  vertical-align: middle;
  margin-left: 10px;
}
.for {
  line-height: 35px;
  width: 45%;
  border-bottom: 1px solid;
  display: inline-block;
  font-weight: 700;
  padding-left: 10px;
}
.for input[type="text"] {
  line-height: 35px;
  width: 90%;
}
.for-right {
  width: 35%;
  display: inline-block;
  /* float: right; */
  border-bottom: 1px solid;
}
.for-right input[type="text"] {
  line-height: 35px;
}
.fifth.row {
  text-align: right;
  width: 100%;
}
.ch-number {
  font-family: "micr";
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: 700;
  text-align: center;
}
img.second-logo {
  display: block;
  width: 100px;
  margin-top: 10px;
}
span.left-no {
  float: left;
  width: 30%;
}
span.right-no {
  float: right;
  width: 30%;
}





/* New style kjakjskjas */


.usd-icon{
  font-size: 28px;
  /* float: right; */
  vertical-align: middle;
  line-height: 25px;
  margin-left: 5px;
  font-weight: 500;
}

.wc-65{
  width: 65%;
}

.input-amount {
  border: 1px solid;
  line-height: 25px;
  vertical-align: middle;
  margin-left: 10px;
  /* padding-left: 5px; */
  text-align: center;
}


.pay-order {

  line-height: 35px;
   text-align: left;
  border-bottom: 1px solid;
  width: 100%;
  font-weight: 700;
  padding: 0 10px 0 10;
  display: inline-block;
}

.pay-order-text {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 0;
  color: black;
  display: inline-block;
  line-height: 20px;
  padding-right: 20px;
}

.pay-order-value {
  font-size: 17px;
  font-weight: 700;
  color: black;

}



.amount-in-words {
  line-height: 35px;
  /* text-align: right; */
  border-bottom: 1px solid;
  width: 80%;
  font-weight: 700;
  padding: 0 10px 0 0;
  display: inline-block;
  margin-right: 35px;
}

.amount-in-words-value {
  font-size: 14px;
  font-weight: 600;
  color: black;

}

.security-enabled {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}


