<div class="page-header">
  <div class="container">
      <div class="row">
           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-breadcrumb">
                  <ol class="breadcrumb">
                      <li><a [routerLink]="['/']">Home</a></li>
                      <li class="active">Terms of use</li>
                  </ol>
              </div>
          </div>
           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="bg-white pinside30">
                  <div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                          <h1 class="page-title">Terms of Use</h1>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="">
  <!-- content start -->
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="wrapper-content bg-white pinside40">
                  <div class="contact-form mb60">
                      <div class=" ">
                          <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">

                            <div [innerHTML]="terms | saveUrl">

                            </div>

                          </div>

                      </div>
                      <!-- /.section title start-->
                  </div>


                  <!-- <div class="map" id="googleMap"></div> -->
