<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/']">Home</a></li>
                        <li class="active">About us</li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               <div class="bg-white pinside30">
                    <div class="row">
                       <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title">About</h1>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                            <div class="row">
                                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="btn-action"> <a href="#" class="btn btn-default">How To Make Payment</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white ">
                    <div class="about-section pinside40">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                              <div [innerHTML]="about?.aboutText | saveUrl">

                              </div>
                                <!-- <h2 class="mb30">Who We Are?</h2>
                                <p class="lead mb30">Insight loan advisors is completely independent loan advising service and our directory of lenders gives you all the information lorem ipsums sitamets.</p>
                                <p>Vestibulum condimentum neque at interdum dignissim. Integer colutpat vel lorem ac fringilla. Vestibulum porttitor euismod udiam viverra euismod non hendrerit eros. </p>
 -->                            </div>
<!--                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="mb60">
                                    <h2 class="mb30">What We Offer?</h2>
                                    <p class="lead mb30">Our loan sanction is one of the quicke with eas documentation and doorstep lorem ipsum serviceullam dolor sitisi.</p>
                                    <p>Nullam tincidunt ligula purus, eget aliquet urna maximus id. lorem nisi vel sapien sollicitudin rutrum.Quisque sed felis metus Intocus pellentesque nisi eu mollis.</p>
                                </div>
                            </div>
                            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                                <div class="text-center section-space80">
                                    <h2>Our Vision &amp; Mission</h2>
                                    <p>Our goal at Insight Loan Advisors is to provide access to personal loans, car loan, at insight competitive interest raa timely mannerlorem ipsums deconse resonescon.</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                   <!--
                    <div class="section-space120 pinside60 bg-white">
                        <div class="">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="section-title text-center mb60">
                                        <h1>Why apply with us</h1>
                                        <p>Quisque in augunean suscipit ipsum nibh sit amet venerem </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-4">
                                    <div class="text-center mb30">
                                        <h3 class="mb20">Multiple Loan Options</h3>
                                        <p> Various versions have evolved over the years,sometimes by accident.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 mb-4">
                                    <div class="text-center mb30">
                                        <h3 class="mb20">Competitive Rate </h3>
                                        <p>Nam enim semex eli aliquet nec lorem ipsum pretiumlacinia eget elit.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                    <div class="text-center mb30">
                                        <h3 class="mb20">Safe &amp; Secure</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing acinam rutrum sit amet. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     -->
                    <div class="bg-default pinside60 testimonial-section section-space120">
                        <div class=" ">
                            <div class="row">
                                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-8 col-sm-12 col-12">
                                    <div class="mb60 text-center section-title title-white">
                                        <!-- section title start-->
                                        <h1 class="title-white">Our Success Stories</h1>
                                        <p>Our partners work with us because they believe in the value of our platform.</p>
                                    </div>
                                    <!-- /.section title start-->
                                </div>
                            </div>
                            <div class="row">
                                <div *ngFor="let item of stories" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 clearfix">
                                    <div  class="testimonial-block mb30">
                                        <div class="bg-white pinside30 mb20">
                                            <p class="testimonial-text text-center">“{{item.text}}”</p>
                                        </div>
                                        <div class="testimonial-autor-box">
                                            <div class="testimonial-autor pull-left">
                                                <h4 class="testimonial-name">{{item.name}}</h4>
                                                <span class="testimonial-meta">{{item.designation}}</span> </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="cta-section pinside60 bg-white section-space120">
                        <div class=" ">
                            <div class="row">
                                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-8 col-sm-12 col-12">
                                    <div class="mb60 text-center section-title">
                                        <!-- section title start-->
                                        <h1>We are here to help you</h1>
                                        <p>Our mission is to deliver reliable, latest news and opinions.</p>
                                    </div>
                                    <!-- /.section title start-->
                                </div>
                            </div>
                        <div class="row">

                          <div *ngFor="let item of contacts" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div style="min-height: 250px" class="bg-boxshadow pinside60 outline text-center mb30">
                              <div class="mb40"> <i class="{{item.icon}} fa-4x text-primary"></i></div>
                              <h2 class="capital-title">{{item.title}}</h2>
                              <p>{{item.text}}</p>
                            </div>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
