<div class="padding">
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-header">
          <h2>Add Bank Account</h2>
        </div>
        <div class="box-body">
          <form #accountForm="ngForm" (ngSubmit)="addBankAccount()">
            <div class="form-row">

                <div class="form-group col-md-6 mt-3">
                    <p>
                        <label class="md-check">
                            <input [(ngModel)]="accountModel.individualAccount"
                             name="individualAccount"
                             type="checkbox"
                             (change)="onClickIndividualAccount($event.target.checked)" >
                            <i class="blue"></i>
                            Personal Acccount
                        </label>
                    </p>
              </div>


                <div class="form-group col-md-6 mt-3">

                    <p>
                        <label class="md-check">
                            <input [(ngModel)]="accountModel.businessAccount"
                            name="businessAccount"
                            (change)="onClickBusinessAccount($event.target.checked)"
                            type="checkbox">
                            <i class="blue"></i>
                            Business Acccount
                        </label>
                    </p>

                </div>

                <div *ngIf="coSignatory" class="form-group col-md-12">
                    <label>Do you also want to add Co-Signatory/Signatory ?  </label>
                    <button class="btn white ml-3" type="button"
                    (click)="coSignatory = false;  onClickCoPartnerInfo(false)" >No</button>
                   <button class="btn primary ml-3"
                   (click)="coSignatory = false;coPartnerModal.open(); onClickCoPartnerInfo(true)"
                    type="button">Yes</button>
                </div>

              <div class="form-group col-md-6">
                <label for="">Select Bank</label>

                <select
                  [(ngModel)]="accountModel.bankId"
                  name="bank"
                  #bankName="ngModel"
                  [ngClass]="{'is-invalid': accountForm.submitted && bankName.invalid}"
                  required
                  class="form-control custom-select my-2">
                  <option disabled selected="true" value="">Choose Bank</option>
                  <option *ngFor="let bank of banks" [value]="bank.bankId">
                    {{ bank.bankName }}
                  </option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label>Select Account Type</label>

                <select
                  [(ngModel)]="accountModel.bankaccountTypeId"
                  name="company"
                  #type="ngModel"
                  [ngClass]="{'is-invalid': accountForm.submitted && type.invalid}"
                  required
                  class="form-control custom-select my-2">
                  <option disabled selected="true" value="">Choose Account Type
                  </option>
                  <option *ngFor="let type of bankAccountTypes" [value]="type.bankAccountTypeId">
                      {{ type.bankaccountType }}
                  </option>

                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="inputEmail4">Account Number</label>
                <input
                  [(ngModel)]="accountModel.accountNumber"
                  name="accnumber"
                  type="text"
                  class="form-control"
                  placeholder="account number"
                  #accountNumber="ngModel"
                  [ngClass]="{'is-invalid': accountForm.submitted && accountNumber.invalid}"
                  required
                />
              </div>

              <div class="form-group col-md-6">
                  <label for="">Account Holder</label>
                  <input
                    [(ngModel)]="accountModel.accountName"
                    name="accName"
                    type="text"
                    class="form-control"
                    placeholder="Enter on who's name this account is
                    "
                    #accountName="ngModel"
                    [ngClass]="{'is-invalid': accountForm.submitted && accountName.invalid}"
                    required
                  />
                </div>

                <div class="form-group col-md-6">
                  <label for="">Account Holder Address</label>
                  <input
                    [(ngModel)]="accountModel.address"
                    name="address"
                    type="text"
                    class="form-control"
                    placeholder="Enter account holder's person address"
                  />
                </div>

              <div class="form-group col-md-12">

                  <label class="md-check">
                      <input
                        type="checkbox"
                        [(ngModel)]="accountModel.isSubAccount"
                        name="isSubAccount"/>
                      <i class="indigo"></i>
                      I have Sub-Account
                  </label>

              </div>
              <div *ngIf="accountModel.isSubAccount" class="form-group col-md-6">
                  <label for="">Sub-Account Number</label>
                  <input
                    [(ngModel)]="accountModel.subAccountNumber"
                    name="subAccountNumber"
                    type="text"
                    class="form-control"
                    placeholder="sub account number"

                    #subAccountNumber="ngModel"
                    [ngClass]="{'is-invalid': accountForm.submitted && subAccountNumber.invalid}"
                    required
                  />
              </div>

            </div>

            <button type="submit" class="btn primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- Bank Accounts -->

<div class="padding">
    <div class="box">
      <div class="box-header">
        <h3>Bank Accounts</h3>
      </div>

      <div class="col-md-12 table-responsive">
        <ngx-table
          [configuration]="configuration"
          [data]="accounts"
          [columns]="columns"
        >
          <ng-template let-row let-index="index">
              <td>{{ row.bank.bankName }}</td>
              <td>{{ row.accountNumber }}</td>
            <td>{{ row.accountName }}</td>
            <td>{{ row.bankaccount_type.bankaccountType }}</td>
            <td *ngIf="row.isSubAccount">{{row.subAccountNumber}}</td>
            <td *ngIf="!row.isSubAccount">No</td>
            <td class="fit">
                <button [routerLink]="['/edit/bank-account', row.bankAccountId]" class="btn btn-outline b-accent text-accent">
                  <i class="fa fa-pencil"></i>
                </button>
              <button (click)="onDeleteAccount(row.bankAccountId)" class="btn btn-outline b-danger text-danger">
                <i class="fa fa-trash"></i>
              </button>

            </td>
          </ng-template>
        </ngx-table>
      </div>
    </div>
  </div>







<!-- Co partner Popover -->




<!-- Modal -->

<ngx-smart-modal
  #bankAccountModal
  identifier="bankAccountModal"
  customClass="nsm-dialog-animation-ttb">


    <div class="modal-body text-center">
        <p class="py-3 mt-3">
            <i class="fa fa-check text-primary fa-4x"></i>
        </p>
        <p>Do you want to add another account?</p>
    </div>
    <div class="modal-footer">
        <button class="btn white" type="button"
         (click)="bankAccountModal.close(); accountModel = {}" >No</button>
        <button class="btn primary" type="button"
         (click)="onClickAddAnother(); bankAccountModal.close()">Yes</button>
    </div>


</ngx-smart-modal>




<ngx-smart-modal
#coPartnerMsg
identifier="coPartnerMsg"
customClass="nsm-dialog-animation-ttb">


  <div class="modal-body text-center">
      <p class="py-3 mt-3">
          <i class="fa fa-info-circle text-danger fa-4x"></i>
      </p>
      <h5>Do you also want to add Co-Signatory/Partner ?</h5>
  </div>
  <div class="modal-footer">
      <button class="btn white" type="button"
       (click)="coPartnerMsg.close();  onClickCoPartnerInfo(false)" >No</button>
      <button class="btn primary"
      (click)="coPartnerMsg.close(); coPartnerModal.open(); onClickCoPartnerInfo(true)"
       type="button">Yes</button>
  </div>


</ngx-smart-modal>

<ngx-smart-modal [closable]='false' [dismissable]='false'
 #coPartnerModal identifier="coPartnerModal" customClass="">
    <div class="modal-header">
      <h5 class="modal-title">Co Partner Information</h5>
    </div>
    <div class="modal-body text-center p-lg">
        <div class="mb-2-lg row">
          <div class="col-sm-12">
            <div class="row row-sm">
              <div class="col-sm-6">
                <div class="md-form-group float-label">
                  <input
                    [(ngModel)]="accountModel.coPartnerName"
                    name="partnerName"
                    class="md-input"
                  />
                  <label>Partner First Name</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="md-form-group float-label">
                  <input
                    [(ngModel)]="accountModel.middleName"
                    name="middleName"
                    class="md-input"
                  />
                  <label> Middle Name</label>
                </div>
              </div>

              <div class="col-sm-6">
                  <div class="md-form-group float-label">
                    <input
                      [(ngModel)]="accountModel.lastName"
                      name="lastName"
                      class="md-input"
                    />
                    <label> Last Name</label>
                  </div>
                </div>

              <div class="col-sm-6">
                <div class="md-form-group float-label">
                  <input
                    [(ngModel)]="accountModel.partnerEmail"
                    name="partnerEmail"
                    class="md-input"
                    />
                  <label> Partner Email</label>
                </div>
              </div>

              <div class="col-sm-6">
                  <div class="md-form-group float-label">
                    <input
                      [(ngModel)]="accountModel.telephone"
                      name="partnetTelephone"
                      class="md-input"

                    />
                    <label> Telephone</label>
                  </div>
              </div>

              <div class="col-sm-12">
                  <div class="md-form-group float-label">
                    <input
                      [(ngModel)]="accountModel.partnerAddress"
                      name="partnerAddress"
                      class="md-input"
                    />
                    <label> Partner Address</label>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <button
          type="button"
          class="btn dark-white p-x-md"
          (click)="coPartnerModal.close()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn primary p-x-md"

          (click)="coPartnerModal.close()">
          Submit
        </button>
    </div>
</ngx-smart-modal>


<!-- Business Modal -->

<ngx-smart-modal [closable]='false' [dismissable]='false'
#businessDropDown identifier="businessDropDown"
customClass="nsm-dialog-animation-ttb">
   <div class="modal-header">
     <h5 class="modal-title">Select Company</h5>
   </div>

   <div class="modal-body p-lg">
     <form class="p-x-xs">
       <div class="mb-2-lg row">
         <div class="col-sm-12">
           <div class="row row-sm">

             <div class="form-group col-md-12">
               <label>Select Company</label>

               <select name="companyId" [(ngModel)]="accountModel.companyId"
                  class="form-control custom-select my-2">
                 <option disabled selected="true" value="">
                     Select Company
                 </option>
                 <option [value]="comp.Id" *ngFor="let comp of companies">
                   {{comp.companyName}}
                 </option>
               </select>
             </div>

           </div>
         </div>
       </div>



       <button type="button" class="btn dark-white p-x-md" (click)="businessDropDown.close();accountModel.businessAccount = false">
         Cancel
       </button>
       <button type="submit" class="btn primary p-x-md" (click)="businessDropDown.close()">
         OK
       </button>

     </form>
   </div>
 </ngx-smart-modal>
