<div class="padding">
  <div class="row">
    <div class="col-sm-12">
      <div class="box" style="transition: background-color 800ms linear" [style.background]="edit==true?'#285f941a':'white'">
        <div class="box-header">
          <h2>Bank Account Signature</h2>

        </div>
        <div class="box-body">

          <form #bankForm="ngForm" (ngSubmit)="addSignature()">
            <div class="form-row">



              <div class="form-group col-md-12">
                <label>Choose Bank Account</label>
                <select (change)="onChangeAcccount($event.target.value)"
                 #editBank [(ngModel)]="signatureModel.bankAccountId"
                 #bankName="ngModel"
                    [ngClass]="{'is-invalid': bankForm.submitted && bankName.invalid}"
                    required
                  name="bankAccountId" class="form-control">
                  <option value="0">Select Account</option>
                  <option *ngFor="let account of bankAccounts"
                   [value]="account.bankAccountId">
                    {{account.accountName}} | {{account.accountNumber}}
                  </option>
                </select>
              </div>

              <div class="col-sm-4">
                <div class="file-upload-container p-3">

                  <div *ngIf="signImage" style="margin: auto" class="col-6 col-sm-3 col-md-4">
                    <div class="box">
                      <div>
                        <img class="w-100" alt="" [src]="signImage" />
                      </div>
                    </div>
                  </div>

                  <input style="display:none" #signFile type="file" (change)="onSignImagePicked($event)" />

                  <button *ngIf="!signImage" [disabled]="!isAccountSelected"
                   type="button" (click)="signFile.click()"
                   class="btn btn-fw accent">
                    <i class="fa fa-image"></i>
                    Upload Signature
                  </button>

                  <button *ngIf="signImage"
                      type="button"
                      (click)="cancelsignImage()"
                      class="btn default ml-2">
                      Cancel
                  </button>

                </div>
              </div>


            </div>


            <button [disabled]="!isAccountSelected" type="submit" class="btn primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Bank account and signature -->


    <div class="col-md-12 table-responsive">
      <div class="box">
          <div class="box-body">
        <ngx-table [configuration]="configuration" [data]="bankAccounts" [columns]="columns">
          <ng-template let-row let-index="index">
            <td>{{ row.bank.bankName }}</td>
            <td>{{ row.accountNumber }}</td>
            <td>{{ row.accountName }}</td>
            <td *ngIf="row.signatureImage" style="max-width: 50px;">
              <img [src]="row.signatureImage" class="w-100">
            </td>
            <td *ngIf="!row.signatureImage">
              -
            </td>

            <td class="fit">
              <button (click)="onClickEditSign(row.bankAccountId); edit=true; editBank.click"
                class="btn btn-outline b-accent text-accent">
                Change Signature
                <i class="fa fa-pencil"></i>
              </button>
            </td>
          </ng-template>
        </ngx-table>
        </div>
      </div>
    </div>

  </div>
</div>




<ngx-smart-modal #signModal identifier="signModal" customClass="nsm-dialog-animation-ttb">


  <div class="modal-body text-center">
    <p class="py-3 mt-3">
      <i class="fa fa-check text-primary fa-4x"></i>
    </p>
    <p> Do you want to add Signature for another Account?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn white" type="button" (click)="signModal.close(); onClickAddAnother()">No</button>
    <button class="btn primary" type="button" (click)="onClickAddAnother(); signModal.close()">Yes</button>
  </div>


</ngx-smart-modal>
