



.file-upload-container{
  text-align: center;
  box-shadow: none;
  border: 1px solid #6284f369;
  background: #2196f30d;
  position: relative;
  margin-bottom: 1.5rem;
}

:host  /deep/ .ngx-table__header{
  background-color: #3f86ca !important;
  color: #ffffff;
}
:host  /deep/ .ngx-table{
  font-family: inherit;
}
:host /deep/ .ngx-pagination-steps{

  margin-top: 10px;
}


:host /deep/ .ngx-pagination-range {
display: none;
}

/* color change */

.color-change{
animation: background-fade 2s forwards;
}

@keyframes background-fade {
    99.9% {
        background:#285f941a;
    }
    100% {
        background:white;
    }
}

