<div class="padding">
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header">
            <h2>Check Signature</h2>
          </div>
          <div class="box-body">

              <button type="button" (click)="onClickFlip()" class="btn default inline mr-3 mt-3 mb-3">
                  <i class="fa fa-undo text-grey
                   fa-1x"></i>
                  Rotate
              </button>

              <div  *ngIf="checkModel.check_BackGround"  class="check-boundary">
                  <ngx-flip [flip]="flipCheck">
                  <div #checkBackContainer back style="position: relative; height:35em;"
                   [ngStyle]="{'background-image': 'url(' + checkModel?.check_BackGround.Image + ')', 'background-size':'100% 100%'}"
                    class="row no-margin">

                    <div class="row back-sign-bottom">

                        <div   class="col">
                            <div class="md-form-group float-label">
                              <label class="check-label">Signature</label>
                              <span class="check-sign">
                                <span>1. </span>
                                <img class="sign-img" [src]="imagePreview" alt="">
                              </span>
                            </div>
                          </div>



                    </div>

                  </div>
                  <div front class="row no-margin">

                    <img class="check-image" [src]="checkModel.check_Image.checkFront" alt="">

                  </div>

                  </ngx-flip>

              </div>


              <div class="text-center mt-5 mb-5">
                  <hr class="hr-text" data-content="" width="50%" />
              </div>


            <!-- Image Uplaod -->

            <div class="mt-3 mb-2-lg row">
                <div class="col-sm-12 col-sm-offset-2">

                <form #checkForm="ngForm" (ngSubmit)="addCheckBack()" >

                  <div class="form-row justify-content-between">
<!--
                      <div class="col-sm-6">
                          <div class="box p-3">
                            <strong class="text-muted">Upload Signature</strong>
                            <br>


                            <div *ngIf="imagePreview" class="col-6 col-sm-3 col-md-4">
                              <div class="box">
                                <div>
                                  <img class="w-100" alt="" [src]="imagePreview"  />
                                </div>
                              </div>
                            </div>

                            <br />
                            <input style="display:none" #fileInput type="file" (change)="onImagePicked($event)" />

                            <button type="button" (click)="fileInput.click()" class="btn btn-fw accent">
                              <i class="fa fa-image"></i>
                              Select Signature
                            </button>


                          </div>
                      </div>
 -->
                      <div class="col-sm-4">
                          <div class="p-3 file-upload-container">
                              <label>Your Signature </label>

                              <div *ngIf="imagePreview" style="margin: auto" class="col-6 col-sm-3 col-md-4">
                                  <div>
                                    <img class="w-100" alt="" [src]="imagePreview" />
                                  </div>
                              </div>

                              <br />
                              <input
                                style="display:none"
                                #signImg
                                type="file"
                                (change)="onImagePicked($event)"
                              />

                              <button
                                type="button"
                                (click)="signImg.click()"
                                class="btn btn-fw accent">
                                <i class="fa fa-image"></i>
                                Select Signature
                              </button>

                              <button *ngIf="imagePreview"
                              type="button"
                              (click)="cancelImagePreview()"
                              class="btn default ml-2">
                              Cancel
                            </button>
                          </div>

                        </div>


                        <div class="col-sm-6">
                          <div class="p-3">

                              <ngb-alert type= "info" [dismissible]="false">
                                  If you have Co-Signatory then Send Email to Partner, For his/her Signature
                              </ngb-alert>
                            <input type="text"
                            [(ngModel)]="checkModel.recieverPartnerEmail" name="recieverPartnerEmail"
                             class="form-control" placeholder="Partner Email" />



                          </div>
                        </div>

                  </div>
                  <button type="submit" class="btn primary">Submit</button>

                </form>

                </div>
              </div>



          </div>
        </div>
      </div>
    </div>
</div>
