


.btn-create{
    margin: 0 auto;
    display: inherit;
    margin-top: 2em;
}

.box-body > h6 {
    text-align: center;
    margin-top: 2em;
}

.accent{
    margin-top: 1.5em;
    color: rgba(255, 255, 255, 0.85);
    background-color: #1a4e74;
    border-radius: 3px;
}