<!-- START SIDEBAR -->
<div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left"
        data-type="close-other"><a href="index.html" class="app-navigation-logo">Boooya - Revolution Admin
                Template <button class="app-navigation-logo-button mobile-hidden"
                        data-sidepanel-toggle=".app-sidepanel"><span class="icon-alarm"></span> <span
                                class="app-navigation-logo-button-alert">7</span></button></a>
        <nav>
                <ul>
                        <li class="title">DEMONSTRATION</li>
                        
                                <li><a routerLink="/"><span class="nav-icon-hexa">De</span> Dashboard</a></li>
                        
                        <li><a href="#"><span class="nav-icon-hexa">Pg</span> Activity <span
                                                class="label label-success label-bordered label-ghost">new</span></a>
                                <ul>

                                        <li><a href="#"><span class="nav-icon-hexa">Ba</span> Bank Application</a>
                                                <ul>
                                                        <li><a href="pages-bank-main.html"><span
                                                                                class="nav-icon-hexa">Mn</span>
                                                                        Main</a></li>
                                                        <li><a href="pages-bank-cards.html"><span
                                                                                class="nav-icon-hexa">Cs</span> My
                                                                        Cards</a></li>
                                                        <li><a href="pages-bank-deposits.html"><span
                                                                                class="nav-icon-hexa">Dp</span>
                                                                        Deposits</a></li>
                                                        <li><a href="pages-bank-activity.html"><span
                                                                                class="nav-icon-hexa">Ac</span>
                                                                        Activity</a></li>
                                                        <li><a href="pages-bank-settings.html"><span
                                                                                class="nav-icon-hexa">St</span>
                                                                        Settings</a></li>
                                                        <li><a href="pages-bank-security.html"><span
                                                                                class="nav-icon-hexa">Sc</span>
                                                                        Security</a></li>
                                                </ul>
                                        </li>

                                        <li><a href="#"><span class="nav-icon-hexa">Pt</span> Payment</a>
                                                <ul>
                                                        <li><a href="pages-payment-invoice.html"><span
                                                                                class="nav-icon-hexa">Pi</span>
                                                                        Invoice</a></li>
                                                        <li><a href="pages-payment-pricing.html"><span
                                                                                class="nav-icon-hexa">Pt</span>
                                                                        Pricing Tables</a></li>
                                                </ul>
                                        </li>

                                        <li><a href="#"><span class="nav-icon-hexa">Pf</span> User Profiles</a>
                                                <ul>
                                                        <li><a href="pages-profile-social.html"><span
                                                                                class="nav-icon-hexa">Sp</span>
                                                                        Social Profile</a></li>
                                                        <li><a href="pages-profile-card.html"><span
                                                                                class="nav-icon-hexa">Pc</span>
                                                                        Profile Card</a></li>
                                                </ul>
                                        </li>
                                        <li><a href="#"><span class="nav-icon-hexa">Em</span> Email</a>
                                                <ul>
                                                        <li><a href="pages-email-inbox.html"><span
                                                                                class="nav-icon-hexa">Ib</span>
                                                                        Inbox</a></li>
                                                        <li><a href="pages-email-message.html"><span
                                                                                class="nav-icon-hexa">Ms</span>
                                                                        Message</a></li>
                                                        <li><a href="pages-email-compose.html"><span
                                                                                class="nav-icon-hexa">Cp</span>
                                                                        Compose</a></li>
                                                        <li><a href="pages-email-templates.html"><span
                                                                                class="nav-icon-hexa">Tp</span>
                                                                        Templates</a></li>
                                                </ul>
                                        </li>

                                        <li><a href="pages-faq.html"><span class="nav-icon-hexa">Fq</span> FAQ</a></li>
                                        <li><a href="pages-gallery.html"><span class="nav-icon-hexa">Ga</span>
                                                        Gallery</a></li>


                                        <li><a href="pages-login.html"><span class="nav-icon-hexa">Li</span> Log In</a>
                                        </li>
                                        <li><a href="pages-login-bg.html"><span class="nav-icon-hexa">Lb</span> Log In
                                                        (Background)</a></li>
                                        <li><a href="pages-signin.html"><span class="nav-icon-hexa">Si</span> Sign
                                                        In</a></li>
                                        <li><a href="pages-signin-bg.html"><span class="nav-icon-hexa">Sb</span> Sign In
                                                        (Background)</a></li>
                                </ul>
                        </li>
                </ul>

        </nav>
</div><!-- END SIDEBAR -->