<div class="app-footer app-footer-default" id="footer">
    <div class="app-footer-line">
        <div class="copyright">&copy; 2016-2017 Boooya. All right reserved in the Ukraine and other countries.
        </div>
        <div class="pull-right">
            <ul class="list-inline">
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
    </div>
</div>