<div class="d-flex flex-column flex">
    <div class="navbar light bg pos-rlt box-shadow">
        <div class="mx-auto">
            <!-- brand -->
            <a routerLink="/" class="navbar-brand">
                <img src="../../../assets/logo.png" alt=".">
            </a>
            <!-- / brand -->
        </div>
    </div>
    <div id="content-body">
        <div class="py-5 text-center w-100">
            <div class="mx-auto w-xxl w-auto-xs">
                <div class="px-3 form-area">
                    <form #password="ngForm" (ngSubmit)="setPassword()">

                        <div class="form-group">
                            <input [(ngModel)]="model.password" name="password" type="password" class="form-control" placeholder="password" required>
                        </div>
                        <div class="form-group">
                            <input  name="password" type="password" class="form-control" placeholder="Confrim password" required>
                        </div>

                        <button type="submit" class="btn primary">Reset password</button>
                    </form>

                    <div>
                        Back To Home
                        <a routerLink="/" class="text-primary _600">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
