<div class="page-header">
    <div class="container">
        <div class="row">
             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/']">Home</a></li>
                        <li class="active">Contact us</li>
                    </ol>
                </div>
            </div>
             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white pinside30">
                    <div class="row">
                       <div class="col-xl-4 col-lg-4 col-md-9 col-sm-12 col-12">
                            <h1 class="page-title">Contact Us</h1>
                        </div>
                       <!--  <div class="col-xl-8 col-lg-8 col-md-3 col-sm-12 col-12">
                            <div class="row">
                                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="btn-action"> <a href="#" class="btn btn-default">How To Make Payment</a> </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="wrapper-content bg-white pinside40">
                    <div class="contact-form mb60">
                        <div class=" ">
                            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                                <div class="mb60  section-title text-center  ">
                                    <!-- section title start-->
                                    <h1>Get In Touch</h1>
                                    <p>Reach out to us &amp; we will respond as soon as we can.</p>
                                </div>
                            </div>

                                <form #contactForm="ngForm" (ngSubmit)="addMessage() && contactForm.form.valid" class="contact-us">
                                    <div class=" ">
                                        <!-- Text input-->
                                        <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="sr-only control-label" for="name">name<span class=" "> </span></label>
                                                <input [(ngModel)]="contactModel.name"
                                                #userName="ngModel"
                                                [ngClass]="{'is-invalid': userName.touched && userName.invalid}"
                                                 id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="sr-only control-label" for="email">Email<span class=" "> </span></label>
                                                <input [(ngModel)]="contactModel.email"
                                                #userEmail="ngModel"
                                                [ngClass]="{'is-invalid': userEmail.touched && userEmail.invalid}"
                                                id="email" name="email" type="email" placeholder="Email" class="form-control input-md" required>
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="sr-only control-label" for="phone">Phone<span class=" "> </span></label>
                                                <input [(ngModel)]="contactModel.phone" id="phone" name="phone" type="text" placeholder="Phone" class="form-control input-md">
                                            </div>
                                        </div>
                                        <!-- Select Basic -->
                                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label class="control-label" for="message"> </label>
                                                <textarea [(ngModel)]="contactModel.message" class="form-control" id="message" rows="7" name="message" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <!-- Button -->
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <button [disabled]="!contactForm.form.valid" type="submit" class="btn btn-default">Submit</button>
                                        </div>
                                    </div>
                                  </div>
                                </form>
                        </div>
                        <!-- /.section title start-->
                    </div>
                    <div class="contact-us mb60">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="mb40 text-center section-title">
                                    <!-- section title start-->
                                    <h1>We are here to help you </h1>
                                  </div>
                                <!-- /.section title start-->
                            </div>
                        </div>
                        <div class="row">

                            <div *ngFor="let item of contacts" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                <div style="min-height: 250px" class="bg-boxshadow pinside60 outline text-center mb30">
                                    <div class="mb40"> <i class="fa {{item.icon}} fa-4x text-orange"></i></div>
                                    <h2 class="capital-title">{{item.title}}</h2>
                                    <p>{{item.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="map" id="googleMap"></div> -->
