.upload{
    padding-top: 5px;
}


.profile-img{
    max-height: 300px;
}


:host /deep/ dropzone > .dropzone.dz-wrapper .dz-message {
  min-height: 100px;
  border: 2px dashed #5aa9fa;
  background-color: #fff;
}

:host /deep/ dropzone > .dropzone.dz-wrapper:hover .dz-message:hover{
  border: 2px dashed #285f94;
  background-color: #c8ced475;
}
