<div style="margin-bottom: 15em;" class="content-main " id="content-main">
  <!-- ############ Main START-->
  <div>
    <div class="d-sm-flex">
      <div class="pr w-auto-xs light bg bg-auto-sm b-r">
        <div class="py-3">
          <div class="nav-active-border left b-primary">
            <ul class="nav flex-column nav-sm">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="#"
                  data-toggle="tab"
                  data-target="#profile"
                  >Profile</a
                >
              </li>
              <li class="nav-item">
                <a #kycTab
                  class="nav-link" id="kyc-tab"
                  href="#"
                  data-toggle="tab"
                  data-target="#kyc"
                  >KYC</a>
              </li>


              <li class="nav-item">
                <a
                  class="nav-link "
                  href="#"
                  data-toggle="tab"
                  data-target="#tab-5"
                  >Security</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div  class="col p-0">
        <div class="tab-content pos-rlt">
          <div class="tab-pane active" id="profile">
            <div class="p-4 b-b _600">Your Profile</div>
            <form
              #profileForm="ngForm"
              (ngSubmit)="updateProfile()"
              role="form"
              class="p-4 col-md-6"
            >
<!--
              <div class="box p-1">
                <div>
                  <img *ngIf="!imagePreview" class="profile-img w-100" alt="" [src]="profileModel.profileImageUrl" />
                  <img *ngIf="imagePreview" class="profile-img w-100" alt="" [src]="imagePreview" />
                </div>
                <div class="upload">

                    <input style="display:none"
                    #fileInput
                    type="file"
                    (change)="onImagePicked($event)"
                  />
                  <button
                    type="button"
                    (click)="fileInput.click()"
                    class="btn btn-block btn-outline b-warn text-warn"
                  >
                    <i class="fa fa-upload"></i>
                  </button>
                </div>

              </div> -->
              <ngb-alert type= "danger" *ngIf="accountVerification" [dismissible]="false">
                  Your Account is not verified,
                  <a (click)="kycTab.click()">
                  <b>
                    Click Here to Complete your Kyc
                  </b>
                </a>

                </ngb-alert>
              <div class="form-group">
                <label>User Name/ Login Id</label>
                <input

                  [(ngModel)]="profileModel.uniqueName"
                  name="uniqueId"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label>First Name</label>
                <input
                  [(ngModel)]="profileModel.firstName"
                  name="fname"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input
                  [(ngModel)]="profileModel.lastName"
                  name="lname"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input
                  [(ngModel)]="profileModel.email"
                  name="email"
                  type="email"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label>Phone</label>

              <ngx-intl-tel-input
                  [cssClass]="'form-control'"
                  [preferredCountries]="['us', 'gb']"
                  [enablePlaceholder]="true"
                  [enableAutoCountrySelect]="true"
                  name="phone"
                  #phone="ngModel"
                  [(ngModel)]="profileModel.phoneObject"
                  [ngClass]="{'is-invalid': !phone.invalid}"
                  required
                  >
                </ngx-intl-tel-input>
              </div>

              <div class="form-group">
                <label>Address Number</label>
                <input
                  [(ngModel)]="profileModel.addressNumber"
                  name="addressNumber"
                  type="text"
                  class="form-control"
                />
            </div>
              <div class="form-group">
                  <label>Address</label>
                  <textarea
                    [(ngModel)]="profileModel.address"
                    name="address"
                    type="text"
                    class="form-control">
                  </textarea>

              </div>

                  <div class="form-group">
                      <label>City</label>
                      <input
                        [(ngModel)]="profileModel.city"
                        name="city"
                        type="text"
                        class="form-control"
                      />
                  </div>

                  <div class="form-group">
                      <label>ZipCode</label>
                      <input
                        [(ngModel)]="profileModel.zipCode"
                        name="zipCode"
                        type="text"
                        class="form-control"
                      />
                  </div>

                  <div class="form-group">
                    <label>State</label>
                    <input
                      [(ngModel)]="profileModel.state"
                      name="state"
                      type="text"
                      class="form-control"
                    />
                </div>


                  <div class="form-group">
                      <label>Country</label>
                      <input
                        [(ngModel)]="profileModel.country"
                        name="country"
                        type="text"
                        class="form-control"
                      />
                  </div>


              <!-- <div class="form-group">
                                <label>Company</label>
                                <input type="text" class="form-control">
                            </div> -->
              <!-- <div class="form-group">
                                <label>Location</label>
                                <input type="text" class="form-control">
                            </div> -->
              <!-- <div class="checkbox">
                                <label class="ui-check">
                                    <input type="checkbox">
                                    <i class="dark-white"></i> Available for hire
                                </label>
                            </div> -->
              <button type="submit" class="btn primary mt-2">Update</button>
            </form>
          </div>
          <div class="tab-pane" id="kyc">
            <div class="p-4 b-b _600">Please Submit Your KYC Documents Here</div>
            <div class="row">

            <form
              #kycForm="ngForm"
              (ngSubmit)="uploadKYCDoc()"
              role="form"
              class="p-4 col-md-6">

              <ngb-alert type= "success" *ngIf="messageAlert" [dismissible]="false">
                  <strong>Thank you !</strong>
                Your Document in under review, we will update you soon.
              </ngb-alert>


                <dropzone class="dropzone-container" [config]="config"
                  [message]="'Click or drag files here to upload'"
                 (error)="onUploadError($event)"
                 (sendingMultiple)="onSending($event)"
                 (success)="onUploadSuccess($event)"></dropzone>

                 <div class="mt-3 row align-self-center">
                   <div *ngFor="let type of kycTypes" class="col-sm-4 text-center">
                     <p>
                        <label class="md-check">
                            <input [(ngModel)]="kycModel.kycTypeId"
                             type="radio" name="kyctype"
                             [value]="type.kycTypeId"
                             (change)="onkycTypeChange(type.kycTypeId)"
                              checked="">
                            <i class="blue"></i>
                            {{type.kycType}}
                        </label>
                     </p>
                   </div>
                 </div>



            <div *ngIf="kycDescription" class="m-1 col-md-12 box">

                <i class="pt-2 fa fa-info-circle text-warning fa-2x"></i>

                    <p class="py-3">
                     {{kycDescription}}
                    </p>

                  </div>

              <button type="button" (click)="uploadFiles()" class="btn primary mt-2">Submit</button>
            </form>

          </div>

          </div>

          <div class="tab-pane" id="tab-5">
            <div class="p-4 b-b _600">Security</div>
            <div class="p-4">
              <div class="clearfix">

                <form #changePassForm="ngForm" (ngSubmit)="changePassword()" class="col-md-6 p-0">
                  <div class="form-group">
                    <label>Old Password</label>
                    <input [(ngModel)]="changePassModel.oldPassword" name="oldPass" type="password" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label>New Password</label>
                    <input [(ngModel)]="changePassModel.newPassword" name="newpass" type="password" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input [(ngModel)]="changePassModel.confirmPass" name="confirmPass"  type="password" class="form-control" />
                  </div>
                  <button type="submit" class="btn primary mt-2">Update</button>
                </form>
              </div>
              <!-- <p class="mt-4">
                <strong>Delete account?</strong>
              </p>
              <button
                type="submit"
                class="btn danger m-t"
                data-toggle="modal"
                data-target="#modal">
                Delete Account
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .modal -->
    <div
      id="modal"
      class="modal fade animate black-overlay"
      data-backdrop="false"
    >
      <div class="modal-dialog modal-sm">
        <div class="modal-content flip-y">
          <div class="modal-body text-center">
            <p class="py-3 mt-3">
              <i class="fa fa-remove text-warning fa-3x"></i>
            </p>
            <p>Are you sure to delete your account?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn white" data-dismiss="modal">
              No
            </button>
            <button type="button" class="btn danger" data-dismiss="modal">
              Yes
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>
    <!-- / .modal -->
  </div>
  <!-- ############ Main END-->
</div>
