/* You can add global styles to this file, and also import other style files */


/* for modal */
@import "~ngx-smart-modal/ngx-smart-modal";
/* regular style toast  */
@import '~ngx-toastr/toastr.css';

/* DropZone */
@import '~dropzone/dist/min/dropzone.min.css';
/* theme Style */




/* bootstrap modal chenges  -> creating problem in mobile view */
.modal-open {
    overflow: auto;
}
.modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 0;
    height: 0;
}




/* For Box shadow */


.box-shadow-0 .box {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.app-content{
    overflow: hidden;
}
