


:host /deep/ dropzone > .dropzone.dz-wrapper .dz-message {
    min-height: 100px;
    border: 2px dashed #5aa9fa;
    background-color: #fff;
}


.doc-container {
 /* height: 100px; */

 border-radius: 5px;
 /* overflow: hidden; */
 width: 130px;
 /* width: 100%; */
 height: 130px;
 position: relative;
 display: block;
 z-index: 10;
}

.doc-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.upload {
  margin: auto;
    display: block;
}


.doc-container:hover .delete {
	display: block;
}


.delete {
	padding-top: 7px;
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
