<div class="padding">


    <div class="mb-3 form-row justify-content-end">
        <div class="form-group col-6 col-sm-3">
            <input class="form-control" type="text" [(ngModel)]="docFilter.documentName" placeholder="Search Document">
        </div>
    </div>
    <div class="m-3 form-row justify-content-center" >


        <div class="col-md-10">
        <h5 class="text-muted">Upload your files</h5>

            <dropzone class="dropzone-container" [config]="config"
            [message]="'Click here or drag images'"
          (init)="onUploadInit($event)" (error)="onUploadError($event)"  (successMultiple)="onUploadSuccess($event)"></dropzone>
         <button (click)="uploadFiles()" class="btn primary btn-md upload">
           <i class="fa fa-cloud-upload"></i>
           Upload</button>

        </div>

    </div>





 <div *ngIf="docs.length > 0" class="col-md-12 mt-3">

    <h5 class="text-documents">Documents</h5>


  <div class="row row-xs">



      <div  *ngFor="let doc of docs | filterBy: docFilter | paginate: { itemsPerPage: 12, currentPage: p }"
       class="col-6 col-sm-4 col-md-2">
          <div class="box p-1 doc-container">


            <!-- Only For Images -->
                  <img *ngIf="(doc.documentUrl | extention) == true"
                  placement="top"  ngbTooltip="{{doc.documentName}}"
                  class="doc-image" (click)="onClickViewImage(doc.documentUrl)"  [src]="doc.documentUrl" alt="">
                  <!-- Another Document -->
                  <img (click)="onClickViewPdf(doc.documentUrl)"
                   placement="top"  ngbTooltip="{{doc.documentName}}"
                   *ngIf="(doc.documentUrl | extention) == false"

                  class="doc-image"  src="../../../../../assets/document.png" >

                  <div class="delete">
                    <button (click)="deleteDocument(doc.documentId)" class="btn danger" type="button" ><i class="fa fa-trash"></i>
                  </button>
                </div>
               <div class="p-2">
                  <div class="text-ellipsis text-center">{{doc.documentName}}</div>
              </div>
          </div>
      </div>
      <!-- if no check found with search -->
  </div>
  <div class="text-center">
  <pagination-controls maxSize="9" autoHide="true" (pageChange)="p = $event"></pagination-controls>
   </div>

   </div>









   <div *ngIf="checkBackgrounds.length > 0" class="col-md-12 mt-5">


      <h4 class="text-documents">Your Check Backgrounds</h4>

      <div  class="row row-xs">

          <div  *ngFor="let background of checkBackgrounds | paginate: { itemsPerPage: 8, currentPage: p }"
           class="col-6 col-sm-4 col-md-3">
              <div class="box p-1 doc-container">

                <!-- Only For Images -->
                      <img  class="doc-image"
                      [src]="background.Image" (click)="onClickViewImage(background.Image)" alt="">
                      <div class="delete">
                          <button (click)="deleteCheckBackground(background.checkBackgroundId)" class="btn danger" type="button" ><i class="fa fa-trash"></i>
                        </button>
                      </div>
              </div>
          </div>
          <!-- if no check found with search -->
      </div>
      <div class="text-center">
      <pagination-controls maxSize="9" autoHide="true" (pageChange)="p = $event"></pagination-controls>
       </div>

       </div>






       <div *ngIf="kycDocs.length > 0" class="col-md-12 mt-5">


          <h4 class="text-documents">Kyc Documents</h4>

          <div  class="row row-xs">

              <div  *ngFor="let kycDoc of kycDocs | paginate: { itemsPerPage: 8, currentPage: p }"
               class="col-6 col-sm-4 col-md-3">
                  <div class="box p-1 doc-container">

                    <!-- Only For Images -->
                          <img  class="doc-image"
                           [src]="kycDoc.document"
                           *ngIf="(kycDoc.document | extention) == true"
                           placement="top"  [ngbTooltip]="getDocumentName(kycDoc.document)"
                          (click)="onClickViewImage(kycDoc.document)"
                           alt="">
<!-- Pdf -->
                           <img (click)="onClickViewPdf(kycDoc.document)"
                           placement="top"  [ngbTooltip]="getDocumentName(kycDoc.document)"
                           *ngIf="(kycDoc.document | extention) == false"
                          class="doc-image"  src="../../../../../assets/document.png" >

                          <div class="delete">
                            <button (click)="deleteKycDocument(kycDoc.kycId)" class="btn danger" type="button" ><i class="fa fa-trash"></i>
                          </button>
                  </div>
              </div>

          </div>
          <div class="text-center">
          <pagination-controls maxSize="9" autoHide="true" (pageChange)="p = $event"></pagination-controls>
           </div>

           </div>




</div>
