<div class="d-flex flex-column flex">
        <div class="navbar light bg pos-rlt box-shadow">
            <div class="mx-auto">
                <!-- brand -->
                <a href="/" class="navbar-brand">

                    <img src="../../../assets/logo.png" alt="logo">
                </a>
                <!-- / brand -->
            </div>
        </div>
        <div id="content-body">
            <div class="py-5 text-center w-100">
                <div class="form-content mx-auto w-xxl w-auto-xs">
                    <div class="px-3 form-area">
                        <!-- <div>
                            <a href="#" class="btn btn-block indigo text-white mb-2">
                                <i class="fa fa-facebook float-left"></i>
                                Sign up with Facebook
                            </a>
                            <a href="#" class="btn btn-block red text-white">
                                <i class="fa fa-google-plus float-left"></i>
                                Sign up with Google+
                            </a>
                        </div> -->
                        <!-- <div class="my-3 text-sm">
                            OR
                        </div> -->

                        <div class="fadeIn first">
                            <img src="../../../assets/profilejpg.jpg" id="icon" alt="User Icon" />
                        </div>

                        <form #signUpForm="ngForm" (ngSubmit)="signUpForm.form.valid  && signUp()">
                            <div class="form-group">
                                <input [(ngModel)]="signUpModel.uniqueName" #name="ngModel" name="name" type="text" class="form-control"
                                 [ngClass]="{'is-invalid': signUpForm.submitted && name.invalid}" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input [(ngModel)]="signUpModel.email" #useremail="ngModel" name="email" type="email" class="form-control"
                                [ngClass]="{'is-invalid': signUpForm.submitted && useremail.invalid}"
                                 placeholder="Email" email required>
                                <ul  class="list-unstyled text-sm mt-1 text-muted filled" id="parsley-id-39">
                                    <li *ngIf="useremail?.touched && useremail?.errors?.email" class="alert alert-danger">Email not valid</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <input [(ngModel)]="signUpModel.password" #password="ngModel"  name="pasword" type="password" class="form-control"
                                [ngClass]="{'is-invalid': signUpForm.submitted && password.invalid}"
                                 placeholder="Password" minlength="8"
                                 pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required>
                                 <ul  class="list-unstyled text-sm mt-1 text-muted filled" id="parsley-id-39">
                                        <li *ngIf="password?.touched && password?.errors?.minlength" class="alert alert-danger">should be 8 characters long</li>
                                        <li *ngIf="password?.touched && password?.errors?.pattern" class="alert alert-danger">Use capital words, number & special character</li>
                                 </ul>
                            </div>
                            <div class="mb-3 text-sm">
                                <span class="text-muted">By clicking Sign Up, I agree to the</span>
                                <a href="#">Terms of service</a>
                                <span class="text-muted">and</span>
                                <a href="#">Policy Privacy.</a>
                            </div>
                            <button type="submit" class="btn primary">Sign Up</button>
                        </form>
                        <div class="py-4 text-center">
                            <div>Already have an account?
                                <a routerLink="/login" class="text-primary _600">Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
