<div class="padding">
    <div class="row">
        
        <div class="col-md-12">
            <div *ngIf="checksImages.length > 0" class="row row-xs">

                <div  *ngFor="let check of checksImages" class="col-6 col-sm-12 col-md-4">
                    <div class="box p-1">
                        <a [routerLink]="['/reciever-signature', check.checkId]">
                            <img [src]="check.check_Image.checkFront" alt="" class="w-100">
                        </a>
                        <!-- <div class="p-2">
                            <div class="text-ellipsis">{{check.recieverName}}</div>
                        </div> -->
                    </div>
                </div>
  
            </div>

            <div *ngIf="checksImages.length <= 0" class="py-5 clearfix">
                <div class="text-center mb-5">
                    <h2 class="_700"> No Check right now!</h2>
                    <h5 class="my-4 text-muted">Don't worry,We will keep your checks history.</h5>
                </div>
            </div>
           
        </div>
    </div>
</div>